<tr class="active" data-tr="Expand" data-tr-closed="Collapse">
	<td data-th="Storage Name" class="text input-field no-success-validation-style">
		<input type="hidden" value="<%=row.id%>" name="_id"/>
		<input type="text" data-bind-value="name" data-bind-value-condition="name" required  value="<%=row.name%>" name="name" data-bind-placeholder="placeholder" placeholder="<%=row.placeholder%>"/>
	</td>
	<td data-th="Pallet Type" class="select input-field no-success-validation-style">
		<select name="palletType" required>
        			<option value=""/>
        <% for (i in palletTypes) { %>
            <option value="<%= i %>" <%= row.palletType == i ? "selected='selected'" : "" %> >
            <%= palletTypes[i] %>
            </option>
            <%
            } //end for palletTypes
            %>
		</select>
	</td>
	<td data-th="Storage Temp" class="select input-field no-success-validation-style">
		<select name="temp" required>
			<option value=""/>
            <% var temps = temperatures;
            for (var i in temps) {%>
			<option value="<%= i %>" <%= row.temp == i ? " selected='selected'" : "" %> ><%= temps[i] %></option>
            <%
            } //end for temperatures
            %>
		</select>
	</td>
	<td data-th="Max Weight" class="value input-field no-success-validation-style">
		<input name="maxWeight" type="number" value="<%=row.maxWeight%>" placeholder="0"/>
	</td>
	<td data-th="Max Height" class="value input-field no-success-validation-style">
		<input data-loom-type="decimal" data-loom-decimal-places="1" name="maxHeight" type="number" value="<%=Number(row.maxHeight).toFixed(1)%>" placeholder="0.0" step="0.1"/>
	</td>
	<td data-th="Pallet Spaces" class="value input-field no-success-validation-style">
		<input required name="palletSpaces"  type="number" value="<%=row.palletSpaces%>"/>
	</td>
	<td data-th="Remove" class="action">
		<% if( warehouse.storage && warehouse.storage.length===1){%>
			<button type="button" href="#" class="trash-button hidden"><span>Delete</span></button>
		<%}else{%>
			<button type="button" href="#" class="trash-button"><span>Delete</span></button>
		<%}%>
	</td>
</tr>