<section class="side-header quote-form-section"  id="search-area"><!-- a section with the header off to one side -->
	<div class="header">
		<h2>Get an instant quote</h2>
		<span>* required field</span>
	</div>
    <%var today = new Date();
					  var toDate = new Date();
					  toDate.setDate(today.getDate() + 28);
	%>
        <% if (session.whSC) { %>
		<input type="hidden" name="search-cached"/>
        <% } %>
		<div class="main">
			<form class="storage-search loom-form" action="/search" id="search-form" novalidate>
				<div class="input-field">
					<label for="pallet-type">Pallet Type</label>
					<select name="pallet-type" id="pallet-type" required="required">
						<%var palletTypes = ["Any", "Blue", "Euro", "Standard", "Ano",  "Other"];
						for (var i=0; i<palletTypes.length; i++){%>
							<option value="<%=palletTypes[i]%>" <%if (session.whSC && session.whSC.sc[0].palletType === palletTypes[i]){%>
																	selected
																<%}%>><%=palletTypes[i]%></option>
						<%}%>
					</select>
				</div>
                <div class="input-field">
					<label for="postcode">Target Postcode/City</label>
					<input type="text" name="postcode" required="required" minlength="2" value="<%= session.whSC ? session.whSC.sc[0].postcode : " "%>"/>
				</div>
				<div class="input-field number">
					<label for="quantity">Qty</label>
					<input type="number" name="quantity" min="1" max="2000" required="required" value="<%= session.whSC ? session.whSC.sc[0].totalPallets : 10%>"/>
				</div>
				
				<div class="input-field number" >
					<label for="max-distance">Max Distance</label>
					<input type="number" step="10" name="max-distance" min="5" required="required" value="<%=session.whSC ? session.whSC.sc[0].maxDistance : 25 %>"/>
				</div>
				<div class="input-field">
					<label for="description">Product Description</label>
					<input type="text" name="description" minlength="0" maxlength="100" placeholder="" required="required" value="<%= session.whSC ? session.whSC.sc[0].description : "" %>"/>
				</div><br/>
				<div class="input-field">
					<label for="start-date">Start Date</label>
					<input type="date" name="start-date" required="required" value="<%= session.whSC ? session.whSC.sc[0].startDate : today.toISOString().substring(0, 10)%>"/>
				</div>
				<div class="input-field">
					<label for="end-date">End Date</label>
					<input type="date" name="end-date" required="required" data-loom-greater-than="start-date" value="<%= session.whSC ?session.whSC.sc[0].endDate : toDate.toISOString().substring(0, 10) %>"/>
				</div>
				<div class="input-field number">
					<label for="height">Pallet Height (m)</label>
					<input type="number" name="height" min="0" required="required" max="100" step=".1" value="<%=session.whSC ? session.whSC.sc[0].height : ""%>" data-loom-type="decimal" data-loom-decimal-places="1" />
				</div>
				<div class="input-field number">
					<label for="weight">Pallet Weight (kg)</label>
					<input type="number" name="weight" required="required" min="0" max="2000" value="<%=session.whSC ? session.whSC.sc[0].weight : "" %>"/>
				</div>
				
				<div class="input-field">
					<label for="temperature">Temp</label>
					<select name="temperature">
						<%var temps = ["Ambient", "Chilled", "Frozen", "Outside", "Other"];
						for (var i=0; i<temps.length; i++){%>
								<option value="<%=temps[i]%>" <%if (session.whSC && session.whSC.sc[0].temp === temps[i]){%>
																	selected
															   <%}%>><%=temps[i]%></option>
						<%}%>
					</select>
					
				</div>
				<div class="input-field last">
					<button type="submit" class="action forward">Search</button>
				</div>
			</form>
		</div>
</section>