
    <script type="text/template" id="warehouse-pricing-row">
        <tr data-bind-class="cssClass">
                <td class="week-commencing" data-bind-data-week-commencing="wcDate" >@wcDate | dateFormat@</td>
                <td class="input-field no-success-validation-style"><div data-bind-class="cssClass"><input data-loom-type="number" data-bind-data-start-date="wcDate" type="text" data-bind-value="palletsRequired" /></div></td>
                <td class="bar-container" >
                    <div data-bind-data-pallets-required="palletsRequired" class="useage-marker"></div>
                    <div data-bind-class="cssClass"  data-bind-data-value="numPalletsStored">@barText@</div>
                </td>
                <td>@price | currency@</td>
                <td>@charge | currency@</td>
                <td class="weeklyTotal">@totalPrice | currency@</td>
        </tr>
    </script>
    <div class="pricing-container">
        <form id="useageProfile-form" class="loom-form" data-loom-no-submit="true">
        <div class="input-field">
            <input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
        </div>
        <%  
            //maxPallets calculation.. we should move this to a controller rather than the view.
            var maxPallets = 0;
            for (var wcDate in warehouse.storageProfile)
                { 
                    if (warehouse.storageProfile[wcDate].numPallets > maxPallets) {
                        maxPallets = warehouse.storageProfile[wcDate].numPallets;
                    }
                }
                console.log(warehouse.storageProfile);
                
        %>
        <table data-max-pallets="<%= maxPallets * 1.5  %>" data-highest-available-space="<%=warehouse.storageProfile.heighestAvailableSpace%>">
            <thead>
                <tr>
                    <th>Week Commencing</th>
                    <th>Estimated Requirements <%if(page === "warehouse-profile"){%><div class="tool-tip hint--top" data-hint="You can amend quantities for each week to refine space availability and estimated cost">?</div><%}%></th>
                    <th>Available Space</th>
                    <%if(typeof page !== undefined){
                        if(typeof page !== undefined && page !== "" && (page === "provider-offer" || page === 'provider-confirm-contract')){%>
                            <th>Storage Names</th>
                        <%}
                    }%>
                    <th>Price per Pallet per Week (&pound;)</th>
                    <th>In and Out Price per Pallet (&pound;)</th>
                    <th>Weekly Total (&pound;)</th>
                </tr>                          
                <tr>
                <%if(typeof page !== undefined){
                    if(typeof page !== undefined && page !== "" && (page === "provider-offer" || page === 'provider-confirm-contract')){%>
                        <td colspan="7" class="key">
                    <%}else{%>
                        <td colspan="6" class="key">
                    <%}
                }%>
		  <dl>
		    <dt class="primary"></dt><dd>Available Space</dd><dt class="highlight"></dt><dd>Estimated Requirements</dd>
		  </dl>
		</td>
                </tr>
            </thead>
            <tbody>
                <% 
                var runningTotal = 0;
                var useageProfile = warehouse.useageProfile;
                var index = 0;
                for (var wcDate in warehouse.storageProfile)
                { 
                    if(warehouse.storageProfile[wcDate].constructor === Object){
                        var storageProfile = warehouse.storageProfile[wcDate]%>
                    <tr class="animated <%= storageProfile.numPalletsLeft == 0 ? "full" : "not-full" %>">
                        <td class="week-commencing" data-week-commencing="<%= wcDate %>" ><%= utils.printFormatDate(new Date(wcDate)) %></td>
                        <td data-th="Estimated Requirements" class="<%= !quoteView && "input-field" || "" %> no-success-validation-style">
                        <% if (quoteView) { %>
                            <!--<span><%=useageProfile[0][wcDate]%></span>-->
                            <span><%=useageProfile[index][wcDate]%></span>
                        <% } else { %>
                            
                                <input data-loom-type="number" data-start-date="<%= wcDate %>" type="text" value="<%=useageProfile[index][wcDate]%>" />
                            
                        <% } %>
                        </td>
                        <td class="bar-container" >
                            <!--<div data-pallets-required="<%=useageProfile[index][wcDate]%>" class="useage-marker"></div>
                            <div class="bar <%= storageProfile.numPalletsLeft == 0 ? "full" : "not-full" %>" data-value="<%= storageProfile.numPalletsStored%>">
                            <%= storageProfile.numPalletsLeft == 0 ? "OK" : storageProfile.numPalletsStored %></div>-->
                            <div data-pallets-required="<%=useageProfile[index][wcDate]%>" class="useage-marker"></div>
                            <div class="bar <%= storageProfile.numPalletsLeft == 0 ? "full" : "not-full" %>" data-value="<%= storageProfile.numPalletsStored%>"><%= storageProfile.netSpaces %></div>
                        </td>
                        <%if(typeof page !== undefined){
                            if(typeof page !== undefined && page !== "" && (page === "provider-offer" || page === 'provider-confirm-contract')){%>
                                <%var storageNames = "";
                                for (var i = 0; i<storageProfile.storages.length; i++){
                                    storageNames = storageNames + storageProfile.storages[i].name + ': ' + config.palletTypes[storageProfile.storages[i].palletType] + ' width' + ', ';
                                }
                                storageNames = storageNames.substring(0,storageNames.length - 1);
                                storageNames = storageNames.replace(/(^,)|(,$)/g, "")%>
                                <td class="storage-name" data-storage-name="<%= storageProfile.storages[0].name%>"><%= storageNames%></td>
                            <%}
                        }%>
                        <%console.log(storageProfile.highestPriceOfAnyStorageUsed);%>
                        <td><%=storageProfile.highestPriceOfAnyStorageUsed.price  ? Number(storageProfile.highestPriceOfAnyStorageUsed.price).toFixed(2) : "N/A" %></td>
                        <td>
                        <% if (storageProfile.totalHandlingCharge) { //we only show the handling charge for weeks where it applies.%>
                            <%=storageProfile.highestPriceOfAnyStorageUsed.charge ? Number(storageProfile.highestPriceOfAnyStorageUsed.charge).toFixed(2)  :"N/A" %>
                        <% } %>
                            </td>
                        <td class="weeklyTotal"><%=storageProfile.highestPriceOfAnyStorageUsed.charge ? parseFloat(storageProfile.totalPrice,10).toFixed(2) :"N/A"%></td>
                    </tr>
                    <%
                            runningTotal += storageProfile.totalPrice;
                            index ++;
                    }//end if
                } //end for
                %>
            </tbody>
        </table>
        </form>
    </div>
    <div class="row columns welve total-cost-container">
        <div class="six columns">
       <% include ./volume-discount-table %>
        </div>
    <div class="change-warehouse-profile-row-number columns twelve">
        <button class="view-more action">View More Weeks</button>
        <button class="view-less action">View Less Weeks</button>
    </div>
        <div id="estimated-total-cost" class="six columns">
           <span class="label">Estimated Total Cost (&pound;)*</span>
           <span class="price"><%= isNaN(runningTotal) ? "N/A" : runningTotal.toFixed(2) %></span><br/>
        </div>
    </div>
    <% if(1==2) { %>
    <div class="data">
        <h3>storage profile</h3>
        <%=JSON.stringify(warehouse.storageProfile)%>
    </div>
    <% } %>
