<div data-view="admin" class="dashboard-container columns ten hidden">
	<form method="post" action="/save-account-details" id="save-account-details-form" novalidate="novalidate" class="loom-form">
		<div class="input-field">
			<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
		</div>
		<div class="secondary content-box">
			<div class="header">
				<h3>Your Details</h3>
			</div>
			<fieldset class="main" data-view-edit-capture-zone="true">
				<div class="view-edit-buttons">
					<a class="toggle-view-edit down" data-mode="view">View</a>
					<a class="toggle-view-edit" data-mode="edit">Edit</a>
				</div>
				<div class="columns twelve">
					<div class="input-field">
						<label for="email">Email</label>
						<input required type="email" name="email" value="<%=user.email%>" disabled/>
					</div>
					<div class="input-field">
						<label for="name">Name</label>
						<input required type="text" name="name" value="<%=user.name%>" disabled/>
					</div>
					<div class="input-field">
						<label for="comapny-name">Company Name</label>
						<input required type="text" name="company-name" value="<%=user.company.name%>" disabled <%if(authorisations.editCompany === false){%>data-do-not-enable="true"<%}%>/>
					</div>
					<div class="input-field">
						<label for="phone-number">Phone Number (Optional)</label>
						<input type="tel" name="phone-number" value="<%=user.phoneNumber%>" disabled/>
					</div>
				</div>
				<div data-function="save-buttons" class="hidden">
					<button class="action button save" type="submit">Save</button>
				</div>
			</fieldset>
		</div>
	</form>
	<form method="post" action="/change-password" id="change-password-form" novalidate="novalidate" class="loom-form">
		<div class="input-field">
			<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
		</div>
		<div class="secondary content-box">
			<div class="header">
				<h3>Change Your Password</h3>
			</div>
			<fieldset class="main" data-view-edit-capture-zone="true">
				<div class="view-edit-buttons">
					<a class="toggle-view-edit down" data-mode="view">View</a>
					<a class="toggle-view-edit" data-mode="edit">Edit</a>
				</div>
				<div class="columns twelve">
					<div class="input-field">
						<label for="old-password">Old Password</label>
						<input data-clear-on-edit-mode="true" data-populate-on-display-mode="This is a secret" required minlength="8" data-loom-validators="passwordPolicyStrict" type="password" name="old-password" value="This is a secret" disabled/>
					</div>
					<div class="input-field">
						<label for="new-password">New Password</label>
						<input data-loom-does-not-match="old-password" required minlength="8" data-loom-validators="passwordPolicyStrict" type="password" name="new-password" disabled/>
					</div>
					<div class="input-field">
						<label for="confirm-password">Confirm New Password</label>
						<div class="columns password-with-hint">
							<input required data-loom-confirm="new-password" minlength="8" data-loom-validators="passwordPolicyStrict" type="password" name="confirm-password" disabled/>
							<ul class="messages">
								<li class="msg-info">The new password must be at least 8 characters in length (one must be uppercase), and contain letters and numbers. The new password must not match the old password and both new password boxes must match.</li>
							</ul>
						</div>
					</div>
				</div>
				<div data-function="save-buttons" class="hidden">
					<button class="action button save" type="submit">Save</button>
				</div>
			</fieldset>
		</div>
	</form>
</div>