<div data-view="warehouses" class="dashboard-container columns nine" style="display:none">
	<div class="secondary content-box">
		<div class="header">
			<h3>Warehouses</h3>
		</div>
		<div class="main">
			<table class="simple dashboard-table" data-loom-num-per-page="5" id="warehouses-table">
				<thead>
					<tr>
						<th>Warehouse Name</th>
						<th>Address</th>
						<th>Pallet Space</th>
						<th><img src="./images/delete.png"></th>
					</tr>
				</thead>
				<tbody>
					<%for (var i=0; i<warehouses.length; i++){%>
						<tr>
							<td data-id="<%=warehouses[i].id%>"><%=warehouses[i].name%></td>
							<td><%=warehouses[i].city%>, <%=warehouses[i].postcode%></td>
							<% var palletSpace = 0;
							   for (var j = 0; j<warehouses[i].storage.length; j++){
							      palletSpace += parseInt(warehouses[i].storage[j].palletSpaces);
								}
						     %>
							<td><%=palletSpace%></td>
							<td><input type="checkbox" name="delete-warehouse"/></td>
						</tr>
					<%}%>
				</tbody>
			</table>
			<div class="add-new-warehouse-container">
				<label for="add-new-warehouse">Add new warehouse</label>
				<button name="add-new-warehouse" class="add-button primary"/>
			</div>
		</div>
	</div>
</div>