<div <%if(typeof warehouse.contacts != 'undefined'){%> data-warehouse-contacts="<%=warehouse.contacts._id.toString()%>"<%}%> class="secondary content-box warehouse-specific-contacts">
	<div class="header">
		<h3><%=warehouse.name%></h3>
	</div>
	<div class="main">
		<section class="tabs">
			<ul class="tab-links tabs two-tabs">
				<a href="#availability-controller"><li class="active">Availability Controller</li></a>
				<a href="#enquires-controller"><li>Enquires Controller</li></a>
			</ul>
		</section>
		<div class="tab-content">
			<div data-contact-type="warehouse-specific-contacts" id="availability-controller" class="tab active main">
				<table class="simple dashboard-table">
					<thead>
						<th>No.</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th>Registered?</th>
						<th><img src="/images/delete.png"></th>
						<th></th>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if(warehouse.contacts.availabilityController.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.availabilityController.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.availabilityController[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.availabilityController[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.availabilityController[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.availabilityController[i].expiry >= Date.now() && warehouse.contacts.availabilityController[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.availabilityController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.availabilityController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
			<div data-contact-type="warehouse-specific-contacts" id="enquires-controller" class="tab main">
				<table class="simple dashboard-table">
					<thead>
						<th>No.</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th>Registered?</th>
						<th><img src="/images/delete.png"></th>
						<th></th>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if(warehouse.contacts.enquiresController.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.enquiresController.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.enquiresController[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.enquiresController[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.enquiresController[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.enquiresController[i].expiry >= Date.now() && warehouse.contacts.enquiresController[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.enquiresController[i].expiry < Date.now() && warehouse.contacts.enquiresController[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.enquiresController[i].expiry < Date.now() && warehouse.contacts.enquiresController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
		</div>
		<section class="tabs">
			<ul class="tab-links tabs five-tabs">
				<a href="#transport-cordinator"><li class="active">Transport Co-ordinator</li></a>
				<a href="#goods-in"><li>Goods-In</li></a>
				<a href="#picking-dispatch"><li>Picking Dispatch</li></a>
				<a href="#invoice-controller"><li>Invoice Controller</li></a>
				<a href="#credit-conroller"><li>Credit Controller</li></a>
			</ul>
		</section>
		<div class="tab-content">
			<div data-contact-type="warehouse-specific-contacts" id="transport-coordinator" class="tab main active">
				<table class="simple dashboard-table">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Registered?</th>
							<th><img src="/images/delete.png"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if(warehouse.contacts.transportCoordinator.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.transportCoordinator.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.transportCoordinator[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.transportCoordinator[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.transportCoordinator[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.transportCoordinator[i].expiry >= Date.now() && warehouse.contacts.transportCoordinator[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.transportCoordinator[i].expiry < Date.now() && warehouse.contacts.transportCoordinator[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.transportCoordinator[i].expiry < Date.now() && warehouse.contacts.transportCoordinator[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
			<div data-contact-type="warehouse-specific-contacts" id="goods-in" class="tab main">
				<table class="simple dashboard-table">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Registered?</th>
							<th><img src="/images/delete.png"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if (warehouse.contacts.goodsIn.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.goodsIn.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.goodsIn[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.goodsIn[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.goodsIn[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.goodsIn[i].expiry >= Date.now() && warehouse.contacts.goodsIn[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.goodsIn[i].expiry < Date.now() && warehouse.contacts.goodsIn[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.goodsIn[i].expiry < Date.now() && warehouse.contacts.goodsIn[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
			<div data-contact-type="warehouse-specific-contacts" id="picking-dispatch" class="tab main">
				<table class="simple dashboard-table">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Registered?</th>
							<th><img src="/images/delete.png"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if(warehouse.contacts.pickingDispatch.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.pickingDispatch.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.pickingDispatch[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.pickingDispatch[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.pickingDispatch[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.pickingDispatch[i].expiry >= Date.now() && warehouse.contacts.pickingDispatch[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.pickingDispatch[i].expiry < Date.now() && warehouse.contacts.pickingDispatch[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.pickingDispatch[i].expiry < Date.now()){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
			<div data-contact-type="warehouse-specific-contacts" id="invoice-controller" class="tab main">
				<table class="simple dashboard-table">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Registered?</th>
							<th><img src="/images/delete.png"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if(warehouse.contacts.invoiceController.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.invoiceController.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.invoiceController[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.invoiceController[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.invoiceController[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.invoiceController[i].expiry >= Date.now() && warehouse.contacts.invoiceController[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.invoiceController[i].expiry < Date.now() && warehouse.contacts.invoiceController[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.invoiceController[i].expiry < Date.now() && warehouse.contacts.invoiceController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
			<div data-contact-type="warehouse-specific-contacts" id="credit-controller" class="tab main">
					<table class="simple dashboard-table">
					<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Registered?</th>
							<th><img src="/images/delete.png"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%if(warehouse.contacts){%>
							<%if(warehouse.contacts.creditController.length > 0){%>
								<%for(var i = 0; i<warehouse.contacts.creditController.length; i++){%>
									<tr>
										<td><%=i+1%>*</td>
										<td data-field="name"><%=warehouse.contacts.creditController[i].name%></td>
										<td data-field="email"><%=warehouse.contacts.creditController[i].email%></td>
										<td data-field="phone-number"><%=warehouse.contacts.creditController[i].phoneNumber%></td>
										<td data-field="register-status">
											<%switch(true){
												case (warehouse.contacts.creditController[i].expiry >= Date.now() && warehouse.contacts.creditController[i].expiry !== null):%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
													<%break;
												case (warehouse.contacts.creditController[i].expiry < Date.now() && warehouse.contacts.creditController[i].expiry !== null):%>
													<p class="registered-status expired"><%=registerStatus[2]%></p>
													<%break;
												case null:%>
													<p class="registered-status complete"><%=registerStatus[1]%></p>
													<%break;
												default:%>
													<p class="registered-status pending"><%=registerStatus[0]%></p>
											<%}%>
										</td>
										<td data-field="delete"><input type="checkbox" name="delete-contact"/></td>
										<td data-field="resend-email"><%if(warehouse.contacts.creditController[i].expiry < Date.now() && warehouse.contacts.creditController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td>
									</tr>
								<%}%>
							<%}else{%>
								<% include warehouse-specific-contacts-row%>
							<%}%>
						<%}else{%>
							<% include warehouse-specific-contacts-row%>
						<%}%>
					</tbody>
				</table>
				<div class="columns twelve button-container">
					<button type="button" name="save-new-contacts" class="button action">Save</button>
					<div id="add-new-contact-container">
						<label for="add-new-contacts">Add new contact</label>
						<button type="button" name="add-new-contact" class="add-button"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/template" id="warehouse-specific-contacts-row">
	<% include warehouse-specific-contacts-row%>
</script>