<div <%if(typeof warehouse.contacts != 'undefined'){%> data-warehouse-contacts="<%=warehouse.contacts._id.toString()%>"<%}%> class="secondary content-box warehouse-specific-contacts">
	<div class="header">
		<h3><%=warehouse.name%></h3>
	</div>
	<div class="main">
		<section class="tabs">
			<ul class="tab-links tabs two-tabs">
				<li class="active"><a href="#availability-controller">Availability Controller</a></li>
				<li><a href="#enquires-controller">Enquires Controller</a></li>
			</ul>
		</section>
		<div class="tab-content">
			<div data-contact-type="warehouse-specific-contacts" data-content="availability-controller" class="tab active main">
				<form id="availability-controller" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
					<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if(warehouse.contacts.availabilityController.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.availabilityController.length; i++){%>
										<tr data-id="<%=warehouse.contacts.availabilityController[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.availabilityController[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.availabilityController[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.availabilityController[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.availabilityController[i].expiry >= Date.now() && warehouse.contacts.availabilityController[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.availabilityController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.availabilityController[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.availabilityController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<% include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.availabilityController.length === 2){%>hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
			<div data-contact-type="warehouse-specific-contacts" data-content="enquires-controller" class="hidden tab main">
				<form id="enquires-controller" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
					<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if(warehouse.contacts.enquiresController.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.enquiresController.length; i++){%>
										<tr data-id="<%=warehouse.contacts.enquiresController[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.enquiresController[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.enquiresController[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.enquiresController[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.enquiresController[i].expiry >= Date.now() && warehouse.contacts.enquiresController[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.enquiresController[i].expiry < Date.now() && warehouse.contacts.enquiresController[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.enquiresController[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.enquiresController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<% include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.enquiresController.length === 2){%>style=hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
		</div>
		<section class="tabs">
			<nav>
				<ul class="tab-links tabs five-tabs">
					<li class="active"><a href="#transport-coordinator">Transport Co-ordinator</a></li>
					<li><a href="#goods-in">Goods-In</a></li>
					<li><a href="#picking-dispatch">Picking Dispatch</a></li>
					<li><a href="#invoice-controller">Invoice Controller</a></li>
					<li><a href="#credit-controller">Credit Controller</a></li>
				</ul>
			</nav>
		</section>
		<div class="tab-content">
			<div data-contact-type="warehouse-specific-contacts" data-content="transport-coordinator" class="tab main active">
				<form id="transport-coordinator"autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
					<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if(warehouse.contacts.transportCoordinator.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.transportCoordinator.length; i++){%>
										<tr data-id="<%=warehouse.contacts.transportCoordinator[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.transportCoordinator[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.transportCoordinator[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.transportCoordinator[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.transportCoordinator[i].expiry >= Date.now() && warehouse.contacts.transportCoordinator[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.transportCoordinator[i].expiry < Date.now() && warehouse.contacts.transportCoordinator[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.transportCoordinator[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.transportCoordinator[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<% include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.transportCoordinator.length === 2){%>hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
			<div data-contact-type="warehouse-specific-contacts" data-content="goods-in" class="hidden tab main">
				<form id="goods-in" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
					<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if (warehouse.contacts.goodsIn.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.goodsIn.length; i++){%>
										<tr data-id="<%=warehouse.contacts.goodsIn[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.goodsIn[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.goodsIn[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.goodsIn[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.goodsIn[i].expiry >= Date.now() && warehouse.contacts.goodsIn[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.goodsIn[i].expiry < Date.now() && warehouse.contacts.goodsIn[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.goodsIn[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.goodsIn[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<% include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.goodsIn.length === 2){%>hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
			<div data-contact-type="warehouse-specific-contacts" data-content="picking-dispatch" class="hidden tab main">
				<form id="picking-dispatch" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
					<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if(warehouse.contacts.pickingDispatch.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.pickingDispatch.length; i++){%>
										<tr data-id="<%=warehouse.contacts.pickingDispatch[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.pickingDispatch[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.pickingDispatch[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.pickingDispatch[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.pickingDispatch[i].expiry >= Date.now() && warehouse.contacts.pickingDispatch[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.pickingDispatch[i].expiry < Date.now() && warehouse.contacts.pickingDispatch[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.pickingDispatch[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.pickingDispatch[i].expiry < Date.now() && warehouse.contacts.pickingDispatch[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<% include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.pickingDispatch.length === 2){%>hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
			<div data-contact-type="warehouse-specific-contacts" data-content="invoice-controller" class="hidden tab main">
				<form id="invoice-controller" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
					<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if(warehouse.contacts.invoiceController.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.invoiceController.length; i++){%>
										<tr data-id="<%=warehouse.contacts.invoiceController[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.invoiceController[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.invoiceController[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.invoiceController[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.invoiceController[i].expiry >= Date.now() && warehouse.contacts.invoiceController[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.invoiceController[i].expiry < Date.now() && warehouse.contacts.invoiceController[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.invoiceController[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.invoiceController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<%include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.invoiceController.length === 2){%>hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
			<div data-contact-type="warehouse-specific-contacts" data-content="credit-controller" class="hidden tab main">
					<form id="credit-controller" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
						<table class="simple dashboard-table" data-max-rows="2">
						<thead>
							<th>No.</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th><img src="/images/delete.png"></th><%}%>
							<%if(authorisations.contacts.warehouseContacts.edit===true){%><th></th><%}%>
						</thead>
						<tbody>
							<%if(warehouse.contacts){%>
								<%if(warehouse.contacts.creditController.length > 0){%>
									<%for(var i = 0; i<warehouse.contacts.creditController.length; i++){%>
										<tr data-id="<%=warehouse.contacts.creditController[i]._id.toString()%>">
											<td><%=i+1%>*</td>
											<td data-field="name"><%=warehouse.contacts.creditController[i].name || 'N/A'%></td>
											<td data-field="email"><%=warehouse.contacts.creditController[i].email%></td>
											<td data-field="phone-number"><%=warehouse.contacts.creditController[i].phoneNumber || 'N/A'%></td>
											<td data-field="register-status">
												<%switch(true){
													case (warehouse.contacts.creditController[i].expiry >= Date.now() && warehouse.contacts.creditController[i].expiry !== null):%>
														<p class="registered-status pending"><%=registerStatus[1]%></p>
														<%break;
													case (warehouse.contacts.creditController[i].expiry < Date.now() && warehouse.contacts.creditController[i].expiry !== null):%>
														<p class="registered-status expired"><%=registerStatus[2]%></p>
														<%break;
													case null:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
														<%break;
													default:%>
														<p class="registered-status complete"><%=registerStatus[0]%></p>
												<%}%>
											</td>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="delete"><%if(warehouse.contacts.creditController[i]._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
											<%if(authorisations.contacts.warehouseContacts.edit===true){%><td data-field="resend-email"><%if(warehouse.contacts.creditController[i].expiry < Date.now() && warehouse.contacts.availabilityController[i].expiry !== null){%> <button name="resend-email" class="button action mini">Resend</button><%}%></td><%}%>
										</tr>
									<%}%>
								<%}else{%>
									<% include empty-warehouse-contacts-rows%>
								<%}%>
							<%}%>
						</tbody>
					</table>
					<%if(authorisations.contacts.warehouseContacts.edit===true){%>
						<div class="columns twelve button-container <%if(warehouse.contacts.creditController.length === 2){%>hidden<%}%>">
							<button type="button" name="save-new-contacts" class="button action">Save</button>
							<button type="button" name="delete" class="button action hidden">Delete</button>
							<div id="add-new-contact-container">
								<label for="add-new-contacts">Add new contact</label>
								<button type="button" name="add-new-contact" class="add-button"></button>
							</div>
						</div>
					<%}%>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/template" id="warehouse-specific-contacts-row">
	<% include warehouse-specific-contacts-row%>
</script>