<%if (warehouses.length > 0){%>
    <table class="simple dashboard-table" data-loom-num-per-page="5" data-type="warehouses-table">
    <thead>
        <tr>
            <th>Warehouse Name</th>
            <th>Address</th>
            <th>View/Edit Warehouse</th>
            <th>View Warehouse Profile</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i=0; i<warehouses.length; i++){%>
            <tr data-id="<%=warehouses[i].id%>">
                <td data-field="name"><%=warehouses[i].name%></td>
                <td data-field="address"><%=warehouses[i].city%>, <%=warehouses[i].postcode%></td>
                <td data-field="view-edit-warehouse"><a data-action="view-edit-warehouse" class="action button" href="/view-edit-warehouse/<%=warehouses[i]._id%>/<%=i%>">View</a></td>
                <td data-field="view-warehouse-profile">
                    <%if(warehouses[i].storage != undefined && warehouses[i].storage.length > 0){%>
                        <a href="/warehouse-profile/<%=warehouses[i]._id%>"  target="_blank" class="action button" data-go-to-page="true">View</a>
                    <%}else{%>
                        <p>Please add a storage to view your warehouse profile</p>
                    <%}%>
                </td>
            </tr>
        <%}%>
    </tbody>
    </table>
<%}else{%>
    <p class="no-warehouses">Start selling your space!</p>
    <p class="no-warehouses">Add a warehouse now!</p>
<%}%>