 <% include ./partials/top%>   
 <%
    var session = { whSC : { sc : "" } };
    session.whSC.sc = [quote.search];
    var warehouse = quote.warehouse;
    quote.search.startDate = quote.search.startDate.toISOString();
    var minDurationOptions = config.minDurationOptions;
    var temperatures = config.temperatures;
    var palletTypes = config.palletTypes;
    warehouse.useageProfile = quote.search.useageProfile;
    warehouse.storageProfile = quote.storageProfile;
 %>
	<main class="warehouse-profile quote-request provider-offer-reply">
		<div class="banner">
			<h1>Quotation for storage</h1>
		</div>
		<section>
            <input type="hidden" name="warehouse-id" id="warehouse-id" value="<%=warehouse._id%>" />
			<div class="main">
				<div class="content-box primary">
					<div class="header">
						<h2>Review and Accept Payment Terms - <%=warehouse.name %>, <%= warehouse.postcode.split(" ")[0] %></h2>
					</div>
                    <div class="main quote-request-summary">
                        <div class="content-box search-criteria-summary">
                            <div class="header">
                                <h2>Search Criteria</h2>
                            </div>
                            <div class="main">
                                <% include ./partials/multi-used/mini-warehouse-profile %>
                                <div class="row">
                                    <div class="columns two">
                                        <span>Target Postcode/City</span>
                                        <em class="search-value"><%=quote.search.postcode%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Max Distance (miles)</span>
                                        <em class="search-value"><%=quote.search.maxDistance%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>  Pallet Type</span>
                                        <% if(quote.search.palletType){%>
                                           <em class="search-value"><%=quote.search.palletType%></em>
                                        <%}else{%>
                                           <em class="search-value">Any</em>
                                        <%}%>
                                    </div>
                                    <div class="columns two">
                                        <span>Qty</span>
                                        <em class="search-value"><%=quote.search.totalPallets%></em> 
				                    </div>
                                    <div class="columns two">
				                        <span>Product Description</span>
                                        <em class="search-value"><%=quote.search.description%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Start Date</span>
                                        <em class="search-value"><%=quote.search.startDate.toString().substring(8,10)%>/<%=quote.search.startDate.toString().substring(5,7)%>/<%=quote.search.startDate.toString().substring(0,4)%></em> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns two">
                                        <span>Expected Duration</span>
                                        <em><%=minDurationOptions[parseInt(quote.search.minDuration,10)]%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Pallet Height (m)</span>
                                        <em class="search-value"><%=quote.search.height%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Pallet Weight (kg)</span>
                                        <em class="search-value"><%=quote.search.weight%></em> 
                                    </div>
				                    <div class="columns two">
				                        <span>Type</span>
                                        <em class="search-value"><%=temperatures[quote.search.temp]%></em> 
                                    </div>
                                </div>
                            </div>
                        </div>
			            <div class="warehouse-pricing">
                            <% var quoteView = true; %>
                            <%= include ./partials/warehouse-pricing %>
                            <br/><br/>
                            <p class="term" id="vat-message">*All prices excluding VAT charged at the applicable rate</p>
			            </div>

                        <form class="loom-form row" action="/provider-offer-reply" id="provider-offer-reply-form">
                            <div class="input-field" style="display:none">
				                <input type="hidden" name="quoteId" value="<%= quote._id %>" />
				            </div>
                            <div class="content-box">
                                <div class="input-field">
                                    <input type="hidden" name="transportType" value='<%= quote.transport.type %>'/>
                                </div>
                                <div class="header">
                                    <h2>Offer Details</h2>
                                </div>
                                <div class="main row">
                                   <div class="six columns">
                                       <div class="input-field">
                                            <h3>Payment Type Accepted</h3>
                                            <p>Payment accepted by <%= config.paymentTypes[quote.offerData.paymentType]%></p>
                                            <input type="hidden" name="paymentType" value="<%= quote.offerData.paymentType%>"/>
                                       </div>
                                            <div class="input-field">
                                            <h3>Payment Terms</h3>
                                            <%if(quote.offerData.paymentTerms === '3'){%>
                                                <p>Payment to be made within <%= quote.offerData.manualPaymentTerms%> of invoice date</p>
                                            <%}else{%>
                                                <p>Payment to be made within <%= config.paymentTerms[quote.offerData.paymentTerms]%> of invoice date</p>
                                            <%}%>
                                            <input type="hidden" name="paymentTerms" value="<%= quote.offerData.paymentTerms%>"/>
                                        </div>
                                    </div>
                                    <div class="six columns">
                                        <div class="input-field">
                                            <h3>Prepayment Required</h3>
                                            <p>Prepayment Required: <%= config.prepaymentRequired[quote.offerData.prepaymentRequired]%></p>
                                            <input type="hidden" name="prepaymentRequired" value="<%= quote.offerData.prepaymentRequired%>"/> 
                                        </div>
                                        <div class="input-field">
                                            <h3>Final Payment</h3>
                                            <p>Final Payment: <%= config.finalPayment[quote.offerData.finalPayment]%></p>
                                            <input type="hidden" name="finalPayment" value="<%= quote.offerData.finalPayment%>"/>
                                        </div>
                                        <div class="input-field">
                                            <input type="hidden" name="other-payment-terms" value="<%= quote.offerData.manualPaymentTerms%>"/>
                                        </div>
                                    </div>
                                </div>
                                <%if(quote.transport.providerDeclined === "true"){%>
                                    <div class="main row transport">
                                        <div class="six columns">
                                            <div class="input-field">
                                                <p class="declined-by-provider">The provider has declined the transport request</p>
                                                <input type="hidden" name="decline-transport-request" value="true"/>
                                             </div>
                                         </div>
                                     </div>
                                <%}else if (quote.transport.type === "1"){%>
                                    <div class="main row transport">
                                        <div class="six columns">
                                            <div class="input-field">
                                                <h3>Dispatch Location</h3>
                                                <p><%= quote.transport.dispatchLocation.split(" ")[0] %></p>
                                                <input type="hidden" name="dispatchLocation" value='<%= quote.transport.dispatchLocation.split(" ")[0] %>'/>
                                            </div>
                                            <div class="input-field">
                                                <h3>To</h3>
                                                <p><%= quote.warehouse.postcode %></p>
                                            </div>
                                            <div class="input-field">
                                                <h3>Quote £</h3>
                                                <p><%= quote.transport.quote %></p>
                                                <input type="hidden" name="transportQuote" value="<%= quote.transport.quote %>"/>
                                            </div>
                                        </div>
                                        <div class="six columns">
                                            <div class="input-field">
                                                <h3>Number of Pallets</h3>
                                                <p><%=quote.search.totalPallets%></p>
                                            </div>
                                            <div class="input-field">
                                                <h3>Estimated Miles</h3>
                                                <p <%if (quote.transport.distance === config.googleDistanceMatrixErrText ){%>
                                                    class="distance-error"
                                                <%}%>
                                                ><%= quote.transport.distance %></p>
                                                <input type="hidden" name="distance" value='<%= quote.transport.distance %>'/>
                                            </div>
                                            <!--<div class="input-field check checkbox">
                                                <label for="transportTermsAccepted">I accept<input type="checkbox" name="transport-terms-accepted" id="terms"/> or decline<input type="checkbox" name="transport-terms-declined" id="terms"/> the above transport quote</label>
                                            </div>-->
                                            <label for="transportTermsAccepted">I accept<div class="input-field check checkbox"><input type="checkbox" name="transport-terms-accepted" id="terms"/></div> or decline<div class="input-field check checkbox"><input type="checkbox" name="transport-terms-declined" id="terms"/></div> the above transport quote</label>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                            <div class="content-box action row">
                                <div class="eight columns">
                                    <p>Press the ACCEPT button to accept the supplier's quotation. You will be notified by email with the supplier's order acknowledgement.</p> 
                                </div>
                                <div class="four columns submit-request-container">
                                    <button name="accept" type="submit" class="button action">ACCEPT</button>
                                    <span>OR</span>
                                    <button name="decline" type="button" class="button action">DECLINE</button>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
			</div>
		</section>
	</main>
 <% include ./partials/bottom%>
 
