 <% include ./partials/top%>   
 <%
    var session = { search: { } };
    console.log("in template");
    //console.log(quote);
    console.log(typeof quote.search.startDate);
    session.search = [quote.search];
    var warehouse = quote.warehouse;
    quote.search.startDate = new Date(quote.search.startDate).toISOString();
    console.log(warehouse);
    var minDurationOptions = config.minDurationOptions;
    var temperatures = config.temperatures;
    var palletTypes = config.palletTypes;
    warehouse.useageProfile = quote.search.useageProfile;
    warehouse.storageProfile = quote.storageProfile;
 %>
	<main class="warehouse-profile quote-request">
		<div class="banner">
			<h1>Accepted Quotation</h1>
		</div>
		<section>
            <input type="hidden" name="warehouse-id" id="warehouse-id" value="<%=warehouse._id%>" />
			<div class="main">
				<div class="content-box primary">
					<div class="header">
						<h2>Request for storage - <%=warehouse.name %>, <%= warehouse.postcode %></h2>
					</div>
                    <div class="main quote-request-summary">
                        <div class="content-box search-criteria-summary">
                            <div class="header"><h2>Customer Details</h2></div>
                            <div class="main">
                                <div class="row">
                                    <div class="columns three"><span>Name</span><%=quote.userData.name%></div>
                                    <div class="columns three"><span>Company</span>
                                    <%=quote.userData.companyName%></div>
                                    <div class="columns three"><span>Location</span>
                                    <%=quote.userData.location%></div>
                                    <div class="columns three"><span>Position</span>
                                    <%=quote.userData.position%></div>
                                </div>
                                <div class="row">
                                    <div class="columns three"><span>Website</span>
                                    <%=quote.userData.website%></div>
                                    <div class="columns three"><span>Transport</span>
                                    <%=config.transport[quote.userData.transport]%></div>
                                </div>
                            </div>
                        </div>
                        <div class="content-box search-criteria-summary">
                            <div class="header">
                                <h2>Customer Search Criteria</h2>
                            </div>
                            <div class="main">
                                <div class="row">
                                    <div class="columns two">
                                        <span>Target Postcode/City</span>
                                        <em class="search-value"><%=quote.search.postcode%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Max Distance (miles)</span>
                                        <em class="search-value"><%=quote.search.maxDistance%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>  Pallet Type</span>
					                    <% if(quote.search.palletType){%>
                                           <em class="search-value"><%=quote.search.palletType%></em>
                                       <%}else{%>
                                           <em class="search-value">Any</em>
                                      <%}%>
                                    </div>
				                    <div class="columns two">
				                        <span>Qty</span>
                                        <em class="search-value"><%=quote.search.totalPallets%></em> 
				                     </div>
                                    <div class="columns two">
				                        <span>Product Description</span>
                                        <em class="search-value"><%=quote.search.description%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Start Date</span>
				                        <em class="search-value"><%=quote.search.startDate.toString().substring(8,10)%>/<%=quote.search.startDate.toString().substring(5,7)%>/<%=quote.search.startDate.toString().substring(0,4)%></em> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns two">
				                        <span>Expected Duration</span>
                                        <em><%=minDurationOptions[parseInt(quote.search.minDuration,10)]%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Pallet Height (m)</span>
                                        <em class="search-value"><%=parseInt(quote.search.height).toFixed(2)%></em> 
                                    </div>
                                    <div class="columns two">
                                        <span>Pallet Weight (kg)</span>
                                        <em class="search-value"><%=quote.search.weight%></em> 
                                    </div>
				                    <div class="columns two">
				                        <span>Type</span>
                                        <em class="search-value"><%=temperatures[quote.search.temp]%></em> 
				                    </div>
                                </div>
                            </div>
                        </div>
                       
			             <div class="warehouse-pricing">
                            <% var quoteView = true; %>
                            <%= include ./partials/warehouse-pricing %>
                            <br/><br/>
                            <p class="term" id="vat-message">*All prices excluding VAT charged at the applicable rate</p>
			             </div>

                        <form class="loom-form row" action="/provider-confirm-contract" id="provider-confirm-contract">
                            <div class="input-field">
                                <input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
                            </div>
                            <div class="input-field" style="display:none">
				                <input type="hidden" name="quoteId" value="<%= quote._id %>" />
				            </div>
                            <div class="content-box">
                                <div class="header">
                                    <h2>Your Payment Terms</h2>
                                </div>
                                <div class="main row">
                                    <div class="five columns">
                                        <div class="input-field">
                                            <p>Payment Type Accepted</p>
                                            <p><b><%= config.paymentTypes[quote.offerData.paymentType] %></b></p>
                                        </div>
                                        <div class="input-field">
                                            <p>Payment Terms</p>
                                             <%if(quote.offerData.paymentTerms === '3'){%>
                                                <p><b><%= quote.offerData.manualPaymentTerms %></b></p>
                                              <%}else{%>
                                                <p><b><%= config.paymentTerms[quote.offerData.paymentTerms] %></b></p>
                                              <%}%>
                                        </div>
                                    </div>
                                    <div class="five columns">
                                        <div class="input-field">
                                            <p>Prepayment Required</p>
                                            <p><b><%= config.prepaymentRequired[quote.offerData.prepaymentRequired] %></b></p>
                                        </div>
                                        <div class="input-field">
                                            <p>Final Payment</p>
                                            <p><b><%= config.finalPayment[quote.offerData.finalPayment] %></b></p>
                                        </div>
                                    </div>
                                    <div class="two columns accept-status-box <%= config.acceptStatus[quote.offerData.paymentTermsAccepted].toLowerCase() %>-by-customer">
                                        <p class="<%= config.acceptStatus[quote.offerData.paymentTermsAccepted].toLowerCase() %>-by-customer"><%= config.acceptStatus[quote.offerData.paymentTermsAccepted] %> by customer</p>
                                    </div>
                                </div>
                                <%if(quote.transport.providerDeclined === "true"){%>
                                    <div class="main row transport">
                                        <div class="six columns">
                                            <div class="input-field">
                                                <p class="declined-by-provider">You declined the transport request</p>
                                             </div>
                                         </div>
                                     </div>
                                <%}else if (quote.transport.type === "1"){%>
                                    <div class="main row transport">
                                        <div class="five columns">
                                            <div class="input-field">
                                                <p>Dispatch Location</p>
                                                <p><b><%= quote.transport.dispatchLocation.split(" ")[0] %></b></p>
                                            </div>
                                            <div class="input-field">
                                                <p>To</p>
                                                <p><b><%= quote.warehouse.postcode %></b></p>
                                            </div>
                                            <div class="input-field">
                                                <p>Quote £</p>
                                                <p><b><%= quote.transport.quote %></b></p>
                                            </div>
                                        </div>
                                        <div class="five columns">
                                            <div class="input-field">
                                                <p>Number of Pallets</p>
                                                <p><b><%=quote.search.totalPallets%></b></p>
                                            </div>
                                            <div class="input-field">
                                                <p>Estimated Miles</p>
                                                <p <%if (quote.transport.distance === config.googleDistanceMatrixErrText ){%>
                                                    class="distance-error"
                                                <%}%>
                                                ><b><%= quote.transport.distance %></b></p>
                                            </div>
                                        </div>
                                        <div class="two columns accept-status-box <%= config.acceptStatus[quote.transport.transportTermsAccepted].toLowerCase() %>-by-customer">
                                            <p class="<%= config.acceptStatus[quote.transport.transportTermsAccepted].toLowerCase() %>-by-customer"><%= config.acceptStatus[quote.transport.transportTermsAccepted] %> by customer</p>
                                        </div>
                                    </div>
                                <%}%>
                            </div>
                            <div class="content-box action row">
                                <div>
                                    <div class="six columns input-field check checkbox">
                                    <label for="terms">I have read and accept the Zupplychain Terms and Conditions<input type="checkbox" name="terms" id="terms" required="required"/></label>
                                </div>
                                <div class="five columns submit-request-container confirm-contract">
                                    <button type="submit" class="button action">SEND ACKNOWLEDGEMENT</button>
                                    <span>OR</span>
                                    <button type="button" class="button action">DECLINE</button>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
			</div>
		</section>
	</main>
 <% include ./partials/bottom%>
 
