 <% include ./partials/top%>   
	<main class="warehouse-profile quote-request quotation-request">
		<div class="banner">
			<h1>Request for Storage</h1>
		</div>
		<section>
            <input type="hidden" name="warehouse-id" id="warehouse-id" value="<%=warehouse._id%>" />
            <% if (query != undefined && Object.keys(query).length > 0){ %>
                <div class="search-header">
                    <div class="row">
                        <div class="columns three back-to-search">
                            <a href="/search" class="back button action">Back to search results</a>
                        </div>
                        <div class="search-criteria columns three">
                            <span class="button-text">MY SEARCH CRITERIA</span>
                            <button class="view primary tiny"></button>
                            <%console.log(query.startDate.toISOString());%>
                            <div class="my-search-criteria">
                                <div class="critera-popup">
                                    <ul>
                                        <li>
                                           <span class="title">Pallet type</span>
                                           <% if(query.palletType){%>
                                                <span class="search-value"><%=query.palletType%></span>
                                           <%}else{%>
                                               <span class="search-value">Any</span>
                                           <%}%>
                                        </li>
                                        <li>
                                            <span class="title">Quantity</span>
                                            <span class="search-value"><%=query.totalPallets%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Target postcode</span>
                                            <span class="search-value"><%=query.postcode%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Max distance</span>
                                            <span class="search-value"><%=query.maxDistance%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Product description</span>
                                            <span class="search-value"><%=query.description%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Start date</span>
                                            <span class="search-value"><%=query.startDate.toISOString().substring(8,10)%>/<%=query.startDate.toISOString().substring(5,7)%>/<%=query.startDate.toISOString().substring(0,4)%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Min Duration</span>
                                            <span><%=minDurationOptions[parseInt(query.minDuration,10)]%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Height (m)</span>
                                            <span class="search-value"><%=query.height%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Weight (kg)</span>
                                            <span class="search-value"><%=query.weight%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Type</span>
                                            <span class="search-value"><%=temperatures[query.temp]%></span> 
                                        </li>
                                    </ul>
                                    <div class="edit-search">
                                        <a href="/search#search-area" class="button action">Edit search criteria</a>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
             <%}%>
			<div class="main">
				<div class="content-box primary">
					<div class="header">
						<h2>Your chosen warehouse - <%=warehouse.name %>, <%= warehouse.postcode.split(" ")[0] %></h2>
					</div>
                    <div class="main quote-request-summary">
                        <div class="content-box search-criteria-summary">
                            <div class="header">
                                <h2>Search Criteria</h2>
                            </div>
                            <div class="main">
                                <% include ./partials/multi-used/mini-warehouse-profile %>
                                <div class="row">
                                    <div class="columns two">
										<span>Target Postcode/City</span>
										<em class="search-value"><%=query.postcode%></em> 
                                    </div>
                                    <div class="columns two">
										<span>Max Distance (miles)</span>
										<em class="search-value"><%=query.maxDistance%></em> 
                                    </div>
                                    <div class="columns two">
										<span>  Pallet Type</span>
										<% if(query.palletType){%>
                                           <em class="search-value"><%=query.palletType%></em>
                                       <%}else{%>
                                           <em class="search-value">Any</em>
                                      <%}%>
                                    </div>
									<div class="columns two">
										<span>Qty</span>
										<em class="search-value"><%=query.totalPallets%></em> 
									</div>
                                    <div class="columns two">
										<span>Product Description</span>
										<em class="search-value"><%=query.description%></em> 
                                    </div>
                                    <div class="columns two">
										<span>Start Date</span>
										<em class="search-value"><%=query.startDate.toISOString().substring(8,10)%>/<%=query.startDate.toISOString().substring(5,7)%>/<%=query.startDate.toISOString().substring(0,4)%></em> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="columns two">
										<span>Minimum Duration</span>
										<em><%=minDurationOptions[parseInt(query.minDuration,10)]%></em> 
                                    </div>
                                    <div class="columns two">
									  <span>Pallet Height (m)</span>
									  <em class="search-value"><%=query.height%></em> 
                                    </div>
                                    <div class="columns two">
									  <span>Pallet Weight (kg)</span>
									   <em class="search-value"><%=query.weight%></em> 
                                    </div>
									<div class="columns two">
										<span>Type</span>
                                        <em class="search-value"><%=temperatures[query.temp]%></em> 
									</div>
                                </div>
                            </div>
                        </div>
			<div class="warehouse-pricing">
                        <% var quoteView = true; %>
                        <%= include ./partials/warehouse-pricing %>
                        <br/><br/>
                        <p class="terms" id="vat-message">*All prices excluding VAT charged at the applicable rate. A part week is charged as a full week.</p>
			</div>

                        <form class="loom-form row" action="/quotation-request" id="quotation-request-form">       
                                <div class="input-field hidden">
				      <input type="hidden" name="warehouseId" value="<%= warehouse._id %>" />
				  </div>
                        <div class="content-box contact-information">
                            <div class="header">
                                <h2>Contact Information</h2>
                            </div>
                            <div class="main row quotation">
                                   <div class="six columns">
                                        <div class="input-field">
                                            <label for = "Name">Contact Name*</label><input type="text" name="name" required="required" />
                                        </div>
                                        <div class="input-field">
                                            <label for="companyName">Company Name*</label><input name="companyName" type="text" required="required" />
                                        </div>
                                        <div class="input-field">
                                            <label for="location">Location*<div class="tool-tip hint--top" data-hint="Town or postcode">?</div></label><input name="location" type="text" required="required" />
                                        </div>
                                        <div class="input-field">
                                            <label for="position">Position at Company</label><input name="position" type="text" required="required" />
                                        </div>
                                        <div class="input-field">
                                            <label for="transport">Transport*</label>
                                            <select name="transport" required="required">
                                                <option value="0">Arrange Own Transport</option>
                                                <option value="1">Get Quote From Provider</option>
                                            </select>
                                        </div>
                                        <div class="input-field hidden" data-field="dispatch-location">
                                            <label for="dispatch-location">Dispatch<div class="tool-tip hint--top" data-hint="Town or postcode">?</div> Location*</label>
                                            <input type="text" name="dispatchLocation"/>
                                        </div>
                                        <div class="input-field">
                                            <input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
                                        </div>
                                    </div>
                                    <div class="six columns">
                                        <div class="input-field">
                                            <label for = "email">Contact Email*<div class="tool-tip hint--top" data-hint="This can be different to the email you signed up with">?</div></label><input type="email" name="email" required="required" value="<%= user && user.email || ''; %>" />
                                        </div>     
                                        <div class="input-field">
                                            <label for = "telephone">Telephone</label><input type="tel" name="telephone"  value="<%= user && user.telephone || ''; %>" />
                                        </div>
                                        <div class="input-field">
                                            <label for = "mobile">Mobile</label><input type="tel" name="mobile"  value="<%= user && user.mobile || ''; %>" />
                                        </div>
                                        <div class="input-field">
                                            <label for = "website">Company Website</label><input type="text" name="website" />
                                        </div>
                                        <div class="insurance-reminder">
                                            <label for="terms">*Please ensure you arrange sufficient insurance for your product before delivering to the storage provider.</label>
                                        </div>
                                    </div>
                                    <div class="columns twelve">
                                        <div class="input-field">
                                            <div class="hint--top description-container">
                                                <textarea name="further-comments" placeholder="Any further comments (e.g. request for additional services)?" data-loom-validators="complexTelephoneNumberNotInInput"></textarea>
                                            </div>
                                        </div>
                                        <!--<div class="input-field check checkbox">
                                            <label for="terms">I have read and accept the ZupplyChain Terms and Conditions<input type="checkbox" name="terms" id="terms" required="required"/></label>
                                        </div>-->
                                    </div>
                            </div>
                            
                       
                        </div>
                        <div class="content-box action row">
                            <div class="six columns">
                                <!--<p>In order to confirm a quotation from your chosen warehouse please<br/> press the SUBMIT REQUEST button. You will receive a response within two working days.</p>-->
                                <div class="input-field check checkbox">
                                    <label for="terms">I have read and accept the ZupplyChain Terms and Conditions<input type="checkbox" name="terms" id="terms" required="required"/></label>
                                </div>
                            </div>
                            <div class="columns six submit-request-container">
                                <button type="submit" class="button action">SUBMIT REQUEST</button>
                                <span>OR</span>
                                <a href="/search" class="back button action">Back to search results</a>
                            </div>
                          
                        </div>
                         </form>
                    </div>
				</div>
			</div>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
