 <% include ./partials/top%>   
	<main>
		<!--<div class="row carousel">
			<img src="/images/provider-banner.png" alt="Start your registration"/>
			<h1 class="title large-font">
				<span>Start your</span>
				<br/>
				registration
			</h1>
			<p class="desc medium-font">Follow our simple 3 step process to complete your registration</p>
		</div>-->
		<div class="banner">
			<h1>Start your registration</h1>
		</div>
		<p class="tag-line">
			Follow our simple 3 step process to complete your registration
		</p>
		<div class="row">
			<ul class="tabs">
				<li class="four columns active checked"><span>Step 1</span> - Warehouse details</li>
				<li class="four columns"><span>Step 2</span> - Define your storage</li>
				<li class="four columns"><span>Step 3</span> - Price and availability</li>
			</ul>
			<%
				warehouse={};
				if( user.warehouses && user.warehouses.length  ){
					warehouse=user.warehouses[0];
				}
			%>
			<section class="tab-content">
				<form data-loom-no-submit="true" method="post" action="/provider-registration-2" id="registration" novalidate class="provider-form loom-form">
                    <div class="input-field" style="display:none">
                    <input type="hidden" name="defaultPhoto" id="defaultPhoto" value="<%=warehouse.defaultPhoto%>" />
                    </div>
					<div class="main">
						<div class="content-box primary">
							<div class="header">
								<h3>Warehouse Information</h3>
							</div>
							<fieldset class="main">
								<div class="columns six">
									<div class="input-field">
										<label for="company">Company Name*</label><input type="text" name="company" id="company" required value="<%=warehouse.company%>"/>
									</div>
									<div class="input-field">
										<label for="warehouseName">Warehouse Name*</label><input type="text" name="name" id="warehouseName" required value="<%=warehouse.name%>"/>
									</div>
									<div class="input-field">
										<label for="telephone">Telephone*</label><input type="tel" name="telephone" id="telephone" required value="<%=warehouse.telephone%>"/>
									</div>
									<div class="input-field">
										<label for="mobile">Mobile</label><input type="tel" name="mobile" id="mobile" value="<%=warehouse.mobile%>"/>
									</div>
								</div>
								<div class="columns six">
                                <div class="input-field">
                                    <label for="addressLookup">Address Lookup</label><input type="text" data-loom-no-post="true" name="addressLookup" id="addressLookup" placeholder="Enter your postcode" />
                                </div>
									<div class="input-field">
										<label for="addressLine1">Address Line 1*</label><input type="text" name="addressline1" id="addressLine1" required value="<%=warehouse.addressline1%>"/>
									</div>
									<div class="input-field">
										<label for="addressLine2">Address Line 2</label><input type="text" name="addressline2" id="addressLine2" value="<%=warehouse.addressline2%>"/>
									</div>
									<div class="input-field">
										<label for="addressLine3">Address Line 3</label><input type="text"  name="addressline3" id="addressLine3" value="<%=warehouse.addressline3%>"/>
									</div>
									<div class="input-field">
										<label for="city">Town/City*</label><input type="text" name="city" id="city" required value="<%=warehouse.city%>"/>
									</div>
									<div class="input-field">
										<label for="county">County</label><input type="text" name="county" id="county" value="<%=warehouse.county%>"/>
									</div>
                                    <div class="input-field">
										<label for="postcode">Postcode*</label><input type="text" name="postcode" id="postcode" required value="<%=warehouse.postcode%>" data-loom-validators="UKPostCode"/>
									</div>
									
								</div>
							</fieldset>
						</div>
						<div class="content-box primary">
							<div class="header">
								<h3>Warehouse details</h3>
							</div>
							<fieldset class="main warehouse-details">
								<div class="input-field">
									<label for="description">Company and Warehouse Description</label>
									<textarea id="description" name="description" placeholder="A short description about your company and warehouse"><%=warehouse.description%></textarea>
								</div>
								<div class="row">
									<div class="input-field columns four small-input">
										<%if(!warehouse.officeHours){
											warehouse.officeHours = '9:00-17:00';
										}%>
										<label for="officeHours">Office Hours (Mon-Fri)</label><input id="officeHours" name="officeHours" type="text" value="<%=warehouse.officeHours%>"/>
									</div>
									<div class="input-field columns four small-input">
										<label for="size">Size (sq m)</label><input id="size "name="size" type="number"/>
									</div>
									<div class="columns four input-field small-input">
										<label for="height">Height (m)</label><input id="height" name="height" type="number"/>
									</div>
								</div>
								<div class="specifications">
									<h4>Warehouse Specifications</h4>
									<div class="services">
										<h5>Services</h5>
										<div class="row">
											<% for( i in services ){%>
												<div class="input-field check columns three">
													<%if( warehouse.services && warehouse.services.indexOf(services[i]) != -1 ){%>
														<input data-array="services" name="name" type="checkbox" value="<%=services[i]%>" checked/>
													<%}else{%>
														<input data-array="services" name="name" type="checkbox" value="<%=services[i]%>"/>
													<%}%>
													<label><%=services[i]%></label>
                                                    <% if (services[i] == "Additional Insurance") {%>
                                                        <div class="tool-tip hint--top" data-hint="Are you able to offer full insurance for a customer’s product in your warehouse?">?</div>
                                                    <% } %>
												</div>
											<%}%>
										</div>

									</div>
									<div class="warehouse-specifications">
										<h5>Specifications</h5>
										<div class="row">
											<% for( i in specifications ){%>
												<div class="input-field check columns three">
													<%if( warehouse.specifications && warehouse.specifications.indexOf(specifications[i]) != -1 ){%>
														<input data-array="specifications" name="name" type="checkbox" value="<%=specifications[i]%>" checked/>
													<%}else{%>
														<input data-array="specifications" name="name" type="checkbox" value="<%=specifications[i]%>"/>
													<%}%>
													<label><%=specifications[i]%></label>
												</div>
											<%}%>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="content-box primary">
							<div class="header">
								<h3>Uploads</h3>
							</div>
							<fieldset class="main warehouse-documents">
								<p>Upload any profile images and or quality assurance documents below.</p>
								<div class="row documents">
									<label  class="columns five" for="photos">Upload Warehouse Photos</label>
									<input class="columns five" type="file" id="photos"/>
									<div class="columns one">
										<button id="add-photo" type="button" class="attach primary mini"><span>add</span></button>
									</div>
								</div>
								<div id="upload-photos" class="row upload-area">
									<%if(warehouse.photos){
										for(var i=0;i<warehouse.photos.length;i++){
											var url = "/images/" + warehouse.photos[i];%>
											<div class="columns four row document <%=warehouse.defaultPhoto == warehouse.photos[i] ? "isDefault" : "" %>">
												<div class="columns five image">
													<img src="<%=url%>"/>
												</div>
												<span class="file-name columns four">
                                                    <%=warehouse.photos[i];%>
                                                </span>
												<input type="hidden" name="photo" data-array="photos" value="<%=warehouse.photos[i];%>"/>
												<div class="columns one">
													<button type="button" href="#" class="trash-button"><span>Delete</span></button>
												</div>
                                                        <span class="default-photo-label">Main image</span>
                                                        <button data-photo="<%=warehouse.photos[i];%>" class="tiny simple make-default-photo" type="button">Use as main image
                                                        </button>
											</div>
										<%}
									}%>
								</div>
								<div class="row documents" id="document-area">
									<div id="document-row">
										<div class="columns three">
											<label for="docs">Upload Documents</label>
											<div class="tool-tip hint--top" data-hint="Upload files here such as Insurance Certificates, ISO 90001/14001, Fire Safety/Sprinkle Documentation, Operator License">?</div>
										</div>
										<!--<select class="columns three" id="doc-type">
											<option>Insurance Certificate</option>
											<option>ISO 90001/14001</option>
											<option>Fire Safety/Sprinkle documentation</option>
											<option>Operator License</option>
										</select>-->
										<input class="columns three" type="text" name="file-title" placeholder="Title"/>
										<input class="columns five" type="file" id="docs"/>
										<div class="columns one">
											<button id="add-document" type="button" class="attach primary mini"><span>add</span></button>
										</div>
									</div>
								</div>
								<div id="upload-documents" class="row documents-upload-area">
								</div>
							</fieldset>
						</div>
						<p>*Required Fields</p>
					</div>
					<fieldset class="form-footer">
                     
                                <a class="button simple tandc" href="#">VIEW TERMS AND CONDITIONS</a>
                     
						<%if( warehouse._id ){%>
							<input name="id" value="<%=warehouse._id%>" type="hidden"/>
						<%}%>
						<button type="button" class="action save">Save</button>
						<span>OR</span>
						<button class="action next">Save &amp; Continue</button>
					</fieldset>
				</form>
			</section>
		</div>
	</main>
	 <script type="text/template" id="warehouse-image">
		<div class="columns four row document">
			<div class="columns five image">
				<img data-bind-src="file"/>
			</div>
			<span class="file-name columns four">@name@</span>
			<input type="hidden" name="photo" data-array="photos" data-bind-value="name"/>
			<div class="columns one">
				<button type="button" href="#" class="trash-button"><span>Delete</span></button>
			</div>
            <span class="default-photo-label">Main image</span>
            <button data-bind-data-photo="name" class="tiny simple make-default-photo" type="button">Use as main image
            </button>
		</div>
	 </script>
	  <script type="text/template" id="save-registration">
	  	 <% include ./partials/save-registration%>
	  </script>
	  <script type="text/template" id="upload-document">
	  	 <% include ./partials/upload-document%>
	  </script>
 <% include ./partials/bottom%>
 
