 <% include ./partials/top %>   
            <%
				warehouse={};
				if( user.warehouses && user.warehouses.length  ){
					warehouse=user.warehouses[0];
				}
				if(!warehouse.storage.length){
					warehouse.storage=[];
				}

			%>
			<main>
				<div class="banner">
					<h1>Complete your registration</h1>
					<div class="container">
						<p class="desc medium-font">Follow our simple 3 step process to complete your registration</p>
						<button class="button mini action" data-url="videos/Zupplychain-Registration-Animation.mp4" data-action="view-reg-example">View Example</button>
					</div>
				</div>
				<div class="row">
					<ul class="tabs">
						<li class="four columns checked"><span>Step 1</span> - Warehouse details</li>
                        <li class="four columns checked"><span>Step 2</span> - Define your storage</li>
                        <li class="four columns active checked"><span>Step 3</span> - Price and availability</li>
					</ul>
					<section class="tab-content">
							<input type="hidden" name="user-active" value="<%= user.active %>"/>
							<div class="main" id="price-and-availability-user-data">
								<div class="content-box primary">
									<div class="header">
										<h3>Define your Price and availability</h3>
									</div>
									<div class="main">
										<table class="max price-and-availability js-all-storages">
											<thead>
												<tr>
													<th>Storage Name</th>
													<th>Pallet Width</th>
													<th>Pallet Spaces</th>
													<th>Pricing</th>
													<!--<th>Volume Discount</th>-->
													<th>Available Pallets</th>
													<!--<th>Progress</th>-->
												</tr>
											</thead>
											<tbody>
												<%for( var i=0; i<warehouse.storage.length;i++ ){
													var storage = warehouse.storage[i];
													var pricingComplete=false;
													var palletsComplete=false;
													if(Number(storage.basicPricing.price) > 0){
														pricingComplete=true;
													}
													if(storage.pallets && storage.pallets.length > 0 && storage.pallets[0].inUse !== null && storage.pallets[0].to !== ""){
														palletsComplete=true;
													}
												%>
												<tr data-id="<%=storage._id %>">
													<td class="text" data-th="Storage Name">
														<span><%=storage.name%></span>
													</td>
													<td class="text" data-th="Pallet Width">
														<span><%=palletTypes[storage.palletType]%></span>
													</td>
													<td class="text" data-th="Pallet Spaces">
														<span><%=storage.palletSpaces%></span>
													</td>
													
													<td class="button-cell pricing <%= pricingComplete ?  'success' : '' %>" data-th="Pricing">
														<span class="edit-data">DATA</span>
														<button data-form="price-and-availability-user-data" data-type="pricing" type="button" class="popup mini"/>
													</td>
													<!--<td class="button-cell discounts" data-th="Volume Discount">
														<button data-template="volume"  type="button" class="secondary popup mini">click here</button>
													</td>-->
													
													<td class="button-cell pallets <%= palletsComplete ? 'success' : ''%>" data-th="Available Pallets">
														<span class="edit-data">DATA</span>
														<button data-form="availability-user-data" data-type="availability" type="button" class="popup mini"/>
													</td>
												
													<!--<td data-th="Progress">
														<div class="progress">
															<div class="progress-bar"/>
														</div>
													</td>-->
											    </tr>

												<tr class="trays" id="pricing-container-<%=storage._id %>">
                                                    <td colspan="5" class="js-storage" data-storage-id="<%=storage._id%>">
                                                        <div class="pricing-trays tray-holder">
                                                            <form  data-storage-id="<%=storage._id%>" id="standard-pricing-<%=storage._id %>" data-id="price-and-availability-user-data" class="loom-form provider-form standard-pricing-form" data-loom-no-submit="true" data-loom-prevent-default="false" method="post" action="/complete-registration" novalidate data-obligatory="true">
																<% include ./partials/standard-pricing-tray %>
                                                            </form>
                                                            <form  data-loom-do-not-show-success-css="true" data-storage-id="<%=storage._id%>" id="date-range-pricing-<%=storage._id %>" data-id="price-and-availability-user-data" class="loom-form provider-form date-range-pricing-form" data-storage_id="<%=storage._id%>" data-loom-no-submit="true" data-loom-prevent-default="false" method="post" action="/complete-registration" novalidate data-obligatory="false">
                                                                <% include ./partials/date-range-pricing-tray %>
                                                            </form>

                                                       </div>
                                                       <div class="availability-trays tray-holder">
                                                            <form  data-loom-do-not-show-success-css="true" data-storage-id="<%=storage._id%>" id="availability-<%=storage._id %>"  class="loom-form provider-form availability-form" data-loom-no-submit="true" data-loom-prevent-default="false" method="post" data-storage_id="<%=storage._id%>" data-id="availability-user-data" data-obligatory="true">
																<% include ./partials/availability-tray %>
                                                            </form>
                                                       </div>
                                                    </td>
												</tr>
											    <%}%>
											</tbody>
										</table>
										<!--<div class="row">
											<!--<div class="columns five check checkbox input-field">
												<input required type="checkbox" name="accept" id="accept"/>
												<label for="accept"><a href="/terms-and-conditions" target="_blank">*I agree to the terms and conditions.</a></label>
											</div>-->
											<!--<div class="columns four offset-by-five">
												<button href="#" class="view tertiary forward mini">View list of Documentation</button>
											</div>
											<div class="columns three">
												<button href="#" class="view tertiary forward mini">View Terms &amp; Conditions</button>
											</div>
										</div>-->
                                        <button href="#" class="add primary mini add-volume-discount">Add volume discount (optional)</button>
									</div>
								</div>
								<!--<div class="content-box primary">
									<div class="header">
										<h3>Your Login Details</h3>
									</div>
									<fieldset class="main">
										<div>
											<div class="row">
												<div class="input-field columns six">
													<label for="name">Name*</label><input type="text" name="name" id="name" required>
												</div>
												<div class="input-field columns six">
													<label for="email">Email*</label><input type="email" name="email" id="email" required>
												</div>
											</div>
											<div class="row">
												<div class="input-field columns six">
													<label for="tel">Contact Number*</label><input type="tel" name="contact" id="tel" required>
												</div>
												<div class="input-field columns six">
													<label for="password">Password*</label><input type="password" name="password" id="password" data-loom-validators="passwordPolicyStrict" required>
												</div>
											</div>
											<div class="row">
												<div class="input-field columns six">
													<label for="confirm-password">Confirm Password*</label><input type="password" name="confirm-password" data-loom-validators="passwordPolicyStrict" id="confirm-password" required data-loom-confirm="password">
												</div>
											</div>
										</div>
									</fieldset>
								</div>-->
							</div>
							<fieldset class="form-footer">
								<input name="warehouse" type="hidden" value="<%=warehouse._id%>"/>
								<a href="/provider-registration-2"><button class="back" type="button">Back</button></a>
								<button data-redirect="/registration-complete" id="save-and-finish" class="action next">Save &amp; Finish</button>
							</fieldset>
					</section>
				</div>
				<%include ./partials/reg-help-bubble%>
			</main>
         <% include ./partials/bottom %> 
		 <script type="text/template" id="pricing">
			<div class="popup-window .pricing-container">
				<div class="inner">
					<div class="popup-main content-box secondary">
						<div class="header">
							<h2>Pricing: Storage @name@</h2>
						</div>
						<button class="close no-resize"><span>close</span></button>
						<form data-loom-do-not-show-success-css="true" id="pricing-form" class="loom-form" novalidate method="post" data-loom-no-submit="true">
							<div class="input-field">
								<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
							</div>
							<div class="main">
								<h2>Standard Pricing</h2> 
								<p>This is the price you will be charging for all periods except those specified in date specific pricing.</p>
								<div class="row">
									<table class="responsive-table columns seven" data-title="Basic pricing" id="default-pricing-table">
										<thead><tr>
											<th>Price per pallet per week (£)</th>
											<th>In and Out Handling charge per pallet (£ per Pallet) (£)</th>
										</thead>
										<tbody/>
									</table>
                                    <div class="columns five">
                                        <h3>Copy From</h3>
                                        <div class="copy-controls">
                                            <select name="copy-from" id="copy-from">
                                                <%for( var i=0; i<warehouse.storage.length;i++ ){ 
                                                %>
                                                    <option value="<%=warehouse.storage[i]._id%>" ><%=warehouse.storage[i].name %></option>
                                                
                                                <%
                                                }
                                                %>
                                            </select>
                                            <button id="copy-button" type="button" class="action">COPY</button>
                                        </div>
                                    </div>
								</div>
							</div>
							<div class="main">
								<h2>Date Specific Pricing</h2>
								<p>You can specify alternative pricing for specific time periods. This will overide your standard pricing for these time periods.</p>
								<table class="show-title responsive-table" data-title="Pricing" id="date-pricing-table">
									<thead>
										<tr>
											<th>From (Monday)</th>
											<th>To (Sunday)</th>
											<th>Price per pallet per week (£)</th>
											<th>In and Out Handling charge (£ per Pallet)</th>
											<th class="remove-col"/>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div class="popup-buttons">
									<div class="add">
										<span>Add new date range</span>
										<button type="button" class="add-button"><span>add row</span></button>
									</div>
								</div>
                                <div class="row">
                                    <div class="columns six">
                                            all prices are subject to 10% commission.<br/><span  id="show-net"><span class="net"> Switch to view with commission</span><span class="gross"> Switch to view with no commission</span> <button id="gross" type="button" class="mini left">gross</button><button id="net" type="button" class="mini right">net</button></span>
                                    </div>
                                    <div class="columns six">
                                        <div class="popup-buttons">
                                            <div class="save">
                                                <button data-bind-value="_id" type="button" class="action add-volume">Add volume discount</button>
                                                <button class="action done">save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		 </script>
		 <script type="text/template" id="basic-pricing-row">
		    <%  include ./partials/basic-pricing-row    %> 
		 </script>
		 <script type="text/template" id="pricing-row">
		    <% include ./partials/pricing-row 
              
            %> 
		 </script>

		
		<script type="text/template" id="volume-discount">
			<% include ./partials/volume-discount%>
		</script>
		 <script type="text/template" id="discount-row">
		    <% include ./partials/discount-row %> 
		 </script>
		 <script type="text/template" id="pallets">
			<div class="popup-window">
				<div class="inner">
					<div class="popup-main content-box secondary">
						<div class="header">
							<h2>Availability: Storage @name@</h2>
						</div>
						<button class="close no-resize"><span>close</span></button>
						<div class="main">
							<h2>Available Pallets</h2>
							<p>Specify your pallet availability for up to the next 12 months.</p>
							<form data-loom-do-not-show-success-css="true" method="post" id="pallets-form" class="loom-form" novalidate data-loom-no-submit="true">
								<div class="input-field">
									<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
								</div>
								<table class="show-title responsive-table availability-table" data-title="Available Pallets">
									<thead>
										<tr>
											<th>From (Monday)</th>
											<th>To (Sunday)</th>
											<th>Total Pallets</th>
											<th>Estimated in Use</th>
											<th>Estimated Free</th>
											<th class="remove-col"/>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								<div class="popup-buttons">
									<div class="add">
										<span>Add new date range</span>
										<button type="button" class="add-button"><span>add row</span></button>
									</div>
								</div>
								<div class="popup-buttons">
									<div class="save">
										<button class="action done">save</button>
									</div>
								</div>
							</form>
							<div class="availability-progress">
								<table>
									<thead>
										<tr>
											<% 

												var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June",
												  "July", "Aug", "Sep", "Oct", "Nov", "Dec"
												];
												var i = 0;
												var date = new Date();
												while(i<13){%>
													<th><%=monthNames[date.getMonth()].toUpperCase()%> <%=String(date.getFullYear()).substring(2,4)%></th>
													<%
														date.setMonth(date.getMonth()+1);
														i++;
												}
											%>
										</tr>
									</thead>
									<tbody>
										<tr>
											<%
												i=0;
												while(i<13){%>
													<td/>
													<%i++;
												}
											%>
										</tr>
										<tr class="progress-row">
											<td/>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		 </script>
		 <script type="text/template" id="complete-registration">
		 	<div class="popup-window">
				<div class="small register complete">
					<div class="popup-main content-box secondary">
						<div class="header">
							<h2>Complete your registration</h2>
						</div>
						<button class="close no-resize"><span>close</span></button>
						<div class="main">
							<form class="loom-form" action="/complete-registration" novalidate id="complete-registration-form">
								<% if(user.email){%>
									<p>Confirm your details</p>
								<%}%>
								<div class="input-field no-success-validation-style">
									<input type="email" name="email" placeholder="Email" required value="<%=user.email%>"/>
								</div>
								<% if(user.email){%>
									<p>Choose a password</p>
								<%}%>
								<div class="input-field no-success-validation-style">
									<input data-loom-validators="passwordPolicyStrict" type="password" name="password" placeholder="Password" minlength="8" required/>
								</div>
								<div class="input-field no-success-validation-style">
									<input data-loom-confirm="password" data-loom-validators="passwordPolicyStrict" type="password" name="confirm-password" placeholder="Confirm Password" minlength="8" required/>
									<ul class="messages">
										 <li class="msg-info">Password must be at least 8 characters in length (one must be uppercase), and contain at least one number and both passwords must match.</li>
									 </ul>
								</div>
								<div class="input-field">
									<input type="hidden" name="user-type" value="1"/>
								</div>
								<div class="input-field">
									<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
								</div>
								<div class="check checkbox input-field">
									<input required type="checkbox" name="accept" id="accept"/>
									<label for="accept"><a href="/terms-and-conditions" target="_blank">I agree to the terms and conditions.</a></label>
								</div>
                                <div class="single-button-container">
								    <button class="action done">finish</button>
                                </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		 </script>
		 <script type="text/template" id="pallet-row">
		    <% include ./partials/pallet-row%> 
		 </script>
		 <script type="text/template" id="p-and-a-warning">
		    <% include ./partials/pricing-and-availability-warning%> 
		 </script>
		 <script type="text/template" id="video-popup">
			<%include ./partials/video-popup%>
		</script>
