 <% include ./partials/top%>   
 	<div class="overlay-vid"></div>
	<main>
		<!--<div class="row carousel">
			<img src="/images/provider-banner.png" alt="Start your registration"/>
			<h1 class="title large-font">
				<span>Start your</span>
				<br/>
				registration
			</h1>
			<div class="container">
				<p class="desc medium-font">Follow our simple 3 step process to complete your registration</p>
				<button class="button mini action" data-url="videos/Zupplychain-Registration-Animation.mp4" data-action="view-reg-example">View Example</button>
			</div>
		</div>-->
		<div class="banner">
			<h1>Create your first warehouse</h1>
			<div class="container">
				<p class="desc medium-font">Follow our simple 3 step process to create your first warehouse</p>
				<button class="button mini action" data-url="videos/Zupplychain-Registration-Animation.mp4" data-action="view-reg-example">View Example</button>
			</div>
		</div>
		<!--<p class="tag-line">
			Follow our simple 3 step process to complete your registration
		</p>-->
		<div class="row">
			<ul class="tabs">
				<li class="four columns active checked"><span>Step 1</span> - Warehouse details</li>
				<li class="four columns"><span>Step 2</span> - Define your storage</li>
				<li class="four columns"><span>Step 3</span> - Price and availability</li>
			</ul>
			<%
				warehouse={};
				if( user.warehouses && user.warehouses.length  ){
					warehouse=user.warehouses[0];
				}
			%>
			<section class="tab-content">
				<form data-loom-no-submit="true" method="post" action="/provider-registration-2" id="registration" novalidate class="provider-form loom-form">
					<div class="input-field hidden">
                    	<input type="hidden" name="defaultPhoto" id="defaultPhoto" value="<%=warehouse.defaultPhoto%>"/>
                    </div>
					<div class="main">
						<div class="content-box primary">
							<div class="header">
								<h3>Warehouse Information</h3>
							</div>
							<fieldset class="main">
								<div class="columns six">
									<div class="input-field hidden">
										<input type="hidden" name="_csrf" value="<%=csrfTokenFunction()%>"/>
									</div>
									<div class="input-field">
										<label for="company">Company Name*</label><input type="text" name="company" id="company" required value="<%=warehouse.company || user.company.name%>" spellcheck="true" disabled/>
									</div>
									<div class="input-field">
										<label for="warehouseName">Warehouse Name*</label><input type="text" name="name" id="warehouseName" required value="<%=warehouse.name%>" spellcheck="true"/>
									</div>
									<div class="input-field">
										<label for="telephone">Telephone*</label><input type="tel" name="telephone" id="telephone" required value="<%=warehouse.telephone%>"/>
									</div>
									<div class="input-field">
										<label for="mobile">Mobile</label><input type="tel" name="mobile" id="mobile" value="<%=warehouse.mobile%>"/>
									</div>
								</div>
								<div class="columns six">
                                <div class="input-field">
                                    <label for="addressLookup">Address Lookup</label><input type="text" data-loom-no-post="true" name="addressLookup" id="addressLookup" placeholder="Enter your postcode" />
                                </div>
									<div class="input-field">
										<label for="addressLine1">Address Line 1*</label><input type="text" name="addressline1" id="addressLine1" required value="<%=warehouse.addressline1%>" spellcheck="true"/>
									</div>
									<div class="input-field">
										<label for="addressLine2">Address Line 2</label><input type="text" name="addressline2" id="addressLine2" value="<%=warehouse.addressline2%>" spellcheck="true"/>
									</div>
									<div class="input-field">
										<label for="addressLine3">Address Line 3</label><input type="text"  name="addressline3" id="addressLine3" value="<%=warehouse.addressline3%>" spellcheck="true"/>
									</div>
									<div class="input-field">
										<label for="city">Town/City*</label><input type="text" name="city" id="city" required value="<%=warehouse.city%>" spellcheck="true"/>
									</div>
									<div class="input-field">
										<label for="county">County</label><input type="text" name="county" id="county" value="<%=warehouse.county%>" spellcheck="true"/>
									</div>
                                    <div class="input-field">
										<label for="postcode">Postcode*</label><input type="text" name="postcode" id="postcode" required value="<%=warehouse.postcode%>" data-loom-validators="UKPostCode"/>
									</div>
									
								</div>
							</fieldset>
						</div>
						<div class="content-box primary">
							<div class="header">
								<h3>Warehouse details</h3>
							</div>
							<fieldset class="main warehouse-details">
								<div class="input-field">
									<label for="description">Company and Warehouse Description</label>
									<div class="hint--top description-container">
										<textarea id="description" name="description" placeholder="A short description about your company and warehouse" data-loom-validators="complexTelephoneNumberNotInInput|emailNotInInput"><%=warehouse.description%></textarea>
									</div>
								</div>
								<div class="row">
									<div class="input-field columns four small-input">
										<%if(!warehouse.officeHours){
											warehouse.officeHours = '9:00-17:00';
										}%>
										<label for="officeHours">Office Hours (Mon-Fri)</label><input id="officeHours" name="officeHours" type="text" value="<%=warehouse.officeHours%>"/>
									</div>
									<div class="input-field columns four small-input">
										<label for="size">Size (sq m)</label><input id="size "name="size" type="number"/>
									</div>
									<div class="columns four input-field small-input">
										<label for="height">Height (m)</label><input id="height" name="height" type="number"/>
									</div>
								</div>
								<div class="specifications">
									<h4>Warehouse Specifications</h4>
									<div class="services">
										<h5>Services</h5>
										<div class="row">
											<% for( i in services ){%>
												<div class="input-field check columns three">
													<%if( warehouse.services && warehouse.services.indexOf(services[i]) != -1 ){%>
														<input data-array="services" name="name" type="checkbox" value="<%=services[i]%>" checked/>
													<%}else{%>
														<input data-array="services" name="name" type="checkbox" value="<%=services[i]%>"/>
													<%}%>
													<label><%=services[i]%></label>
												</div>
											<%}%>
										</div>

									</div>
									<div class="warehouse-specifications">
										<h5>Specifications</h5>
										<div class="row">
											<% for( i in specifications ){%>
												<div class="input-field check columns three">
													<%if( warehouse.specifications && warehouse.specifications.indexOf(specifications[i]) != -1 ){%>
														<input data-array="specifications" name="name" type="checkbox" value="<%=specifications[i]%>" checked/>
													<%}else{%>
														<input data-array="specifications" name="name" type="checkbox" value="<%=specifications[i]%>"/>
													<%}%>
													<label><%=specifications[i]%></label>
												</div>
											<%}%>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="content-box primary">
							<div class="header">
								<h3>Insurance</h3>
							</div>
							<fieldset class="main insurance-details">
								<%if(warehouse.insurance){%>
									<div class="input-field checkbox">
										<%if( warehouse.insurance.allProdInsurance && warehouse.insurance.allProdInsurance.indexOf('Insured for Storing All Products') != -1 ){%>
											<input data-json="insurance" type="checkbox" name="all-prod-insurance" value="Insured for Storing All Products" checked required>
										<%}else{%>
											<input data-json="insurance" type="checkbox" name="all-prod-insurance" value="" required>
										<%}%>
										<label for="all-prod-insurance">Please confirm your business is insured for the purpose of storing third party products (except products detailed in exceptions below)</label>
									</div>
									<div class="row">
										<div class="input-field columns twelve">
											<label for="maximum-insurance-level">Your maximum insurance cover per customer pallet (or per kilo or tonne)</label>
											<input data-json="insurance" type="text" name="maximum-insurance-level" value="<%=warehouse.insurance.maximumInsuranceLevel%>" spellcheck="true">
										</div>
										<div class="input-field columns six">
											<!--<%if( warehouse.insurance.additionalInsurance && warehouse.insurance.additionalInsurance.indexOf('Additional Insurance') != -1  ){%>
												<input data-json="insurance" type="checkbox" name="additional-insurance" value="Additional Insurance" checked>
											<%}else{%>
												<input data-json="insurance" type="checkbox" name="additional-insurance" value="">
											<%}%>
											<label for="additional-insurance">Aditional insurance available?</label>
											<div class="tool-tip hint--top" data-hint="Are you able to offer full insurance for a customer’s product in your warehouse?">?</div>-->
										</div>
									</div>
									<div class="input-field">
										<div class="hint--top description-container">
											<textarea data-loom-validators="complexTelephoneNumberNotInInput|emailNotInInput" data-json="insurance" id="additional-insruance-description" name="additional-insurance-description" placeholder="Please detail product you cannot store"><%=warehouse.insurance.additionalInsuranceDescription%></textarea>
										</div>
									</div>
								<%}else{%>
									<div class="input-field checkbox">
										<input data-json="insurance" type="checkbox" name="all-prod-insurance" value="" required>
										<label for="all-prod-insurance">Please confirm your business is insured for the purpose of storing third party products (except products detailed in exceptions below)</label>
									</div>
									<div class="row">
										<div class="input-field columns twelve">
											<label for="maximum-insurance-level">Your maximum insurance cover per customer pallet (or per kilo or tonne)</label>
											<input data-json="insurance" type="text" name="maximum-insurance-level" spellcheck="true">
										</div>
										<div class="input-field columns six">
											<!--<input data-json="insurance" type="checkbox" name="additional-insurance" value="">
											<label for="additional-insurance">Aditional insurance available?</label>
											<div class="tool-tip hint--top" data-hint="Are you able to offer full insurance for a customer’s product in your warehouse?">?</div>-->
										</div>
									</div>
									<div class="input-field">
										<div class="hint--top description-container">
											<textarea data-loom-validators="complexTelephoneNumberNotInInput|emailNotInInput" data-json="insurance" id="additional-insruance-description" name="additional-insurance-description" placeholder="Please detail product you cannot store"></textarea>
										</div>
									</div>
								<%}%>
							</fieldset>
						</div>
						<div class="content-box primary">
							<div class="header">
								<h3>Uploads</h3>
							</div>
							<fieldset class="main warehouse-documents">
								<p>Upload any profile images and or quality assurance documents below.</p>
								<p>You can come back and add these later once registered if you prefer.</p>
								<div class="row documents">
									<label  class="columns three" for="photos">Upload Warehouse Photos</label>
									<input class="columns seven" type="file" id="photos" name="upload-photos"/>
									<label for="photos">Upload</label>
									<!--<div class="columns two upload">
										<button id="add-photo" type="button" class="attach primary mini"><span>Upload</span></button>
									</div>-->
								</div>
								<div id="upload-photos" class="row upload-area">
									<%if(warehouse.photos){
										for(var i=0;i<warehouse.photos.length;i++){
											var url = "/images/warehouse-images/" + warehouse.photos[i].path;%>
											<div data-image-index="<%=i%>" class="columns four row document <%=warehouse.defaultPhoto == warehouse.photos[i].path ? "isDefault" : "" %>">
												<div class="columns five image <%if(warehouse.photos[i].path == warehouse.defaultPhoto){%>isDefault<%}%>">
													<img src="<%=url%>"/>
												</div>
												<span class="file-name columns four"><%=warehouse.photos[i].path.replace(warehouse.id+'/',"");%></span>
												<input type="hidden" name="photo" data-array="photos" value="<%=warehouse.photos[i].path;%>"/>
												<div class="columns one">
													<button type="button" href="#" class="trash-button"><span>Delete</span></button>
												</div>
                                                        <span class="default-photo-label">Main image</span>
                                                        <button data-photo="<%=warehouse.photos[i].path;%>" class="tiny simple make-default-photo" type="button">Use as main image</button>
											</div>
										<%}
									}%>
								</div>
								<div class="row documents" id="document-area">
									<div id="document-row">
										<div class="columns three">
											<label for="docs">Upload Documents</label>
											<div class="tool-tip hint--top" data-hint="Upload files here such as Insurance Certificates, ISO 14001, Fire Safety/Sprinkler Documentation, Product Storage Certification">?</div>
										</div>
										<input class="columns seven" type="file" id="docs" name="upload-docs"/>
										<label for="docs">Upload</label>
										<div class="input-field columns four file-title">
											<input type="text" name="file-title" placeholder="Title" spellcheck="true"/>
										</div>
										<!--<div class="columns two">
											<button id="add-document" type="button" class="attach primary mini"><span>Upload</span></button>
										</div>-->
									</div>
								</div>
								<div id="upload-documents" class="row documents-upload-area">
									<%if(warehouse.documents){
										for(var i=0;i<warehouse.documents.length;i++){%>
											<div class="columns four row document">
												<div class="columns five document-image">
													<img src="./images/pdf.png"/>
												</div>
												<span class="file-name columns four"><%=warehouse.documents[i].title%></span>
												<input type="hidden" name="relative-path" value="<%=warehouse.documents[i].path%>"/> 
												<div class="columns three upload">
													<button type="button" href="#" class="trash-button"><span>Delete</span></button>
												</div>
											</div>
										<%}
									}%>
								</div>
							</fieldset>
						</div>
						<p>*Required Fields</p>
					</div>
					<fieldset class="form-footer">
                     
                                <a class="button simple tandc" href="/terms-and-conditions" target="_blank">VIEW TERMS AND CONDITIONS</a>
                     
						<%if( warehouse._id ){%>
							<input name="id" value="<%=warehouse._id%>" type="hidden"/>
						<%}%>
						<button type="button" class="action save">Save</button>
						<span>OR</span>
						<button class="action next">Save &amp; Continue</button>
					</fieldset>
				</form>
			</section>
		</div>
		<!--<%include ./partials/reg-help-bubble%>-->
	</main>
	 <script type="text/template" id="warehouse-image">
		<div class="columns four row document">
			<div class="columns five image">
				<img data-bind-src="file"/>
			</div>
			<span class="file-name columns four">@name@</span>
			<input type="hidden" name="photo" data-array="photos" data-bind-value="name"/>
			<div class="columns one">
				<button type="button" href="#" class="trash-button"><span>Delete</span></button>
			</div>
            <span class="default-photo-label">Main image</span>
            <button data-bind-data-photo="name" class="tiny simple make-default-photo" type="button">Use as main image</button>
		</div>
	 </script>
	  <script type="text/template" id="save-registration">
	  	 <% include ./partials/save-registration%>
	  </script>
	  <script type="text/template" id="upload-document">
	  	 <% include ./partials/upload-document%>
	  </script>
 <% include ./partials/bottom%>
<script type="text/template"" id="video-popup">
	<%include ./partials/video-popup%>
</script>
	 	
 
