 <% include ./partials/top%>   
	<main class="warehouse-profile">
		<div class="banner">
			<h1>
				<span><%=warehouse.name%></span> profile
			</h1>
		</div>
		<section>
            <input type="hidden" name="warehouse-id" id="warehouse-id" value="<%=warehouse._id%>" />
            <%if (session.whSC != undefined && session.whSC.sc){%>
                <div class="search-header">
                    <div class="row">
                        <div class="columns three back-to-search">
                            <a href="/search" class="button action">Back to search results</a>
                        </div>
                        <div class="search-criteria columns three">
                            <span class="button-text">MY SEARCH CRITERIA</span>
                            <button class="view primary tiny"></button>
                            <div class="my-search-criteria">
                                <div class="critera-popup">
                                    <ul>
                                        <li>
                                           <span class="title">Pallet type</span>
                                           <%if(session.whSC.sc[0].palletType){%>
                                                <span class="search-value"><%=session.whSC.sc[0].palletType%></span>
                                           <%}else{%>
                                               <span class="search-value">Any</span>
                                           <%}%>
                                        </li>
                                        <li>
                                            <span class="title">Quantity</span>
                                            <span class="search-value"><%=session.whSC.sc[0].totalPallets%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Target postcode</span>
                                            <span class="search-value"><%=session.whSC.sc[0].postcode%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Max distance</span>
                                            <span class="search-value"><%=session.whSC.sc[0].maxDistance%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Product description</span>
                                            <span class="search-value"><%=session.whSC.sc[0].description%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Start date</span>
                                            <span class="search-value"><%=session.whSC.sc[0].startDate.substring(8,10)%>/<%=session.whSC.sc[0].startDate.substring(5,7)%>/<%=session.whSC.sc[0].startDate.substring(0,4)%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Min Duration</span>
                                            <span><%=minDurationOptions[parseInt(session.whSC.sc[0].minDuration,10)]%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Height (m)</span>
                                            <span class="search-value"><%=session.whSC.sc[0].height%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Weight (kg)</span>
                                            <span class="search-value"><%=session.whSC.sc[0].weight%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Type</span>
                                            <span class="search-value"><%=temperatures[session.whSC.sc[0].temp]%></span> 
                                        </li>
                                    </ul>
                                    <div class="edit-search">
                                        <a href="/search#search-area" class="button action">Edit search criteria</a>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="see-on-map columns three">
                            <span class="button-text">VIEW LOCATION ON A MAP</span>
                            <button class="map primary tiny"></button>
                            <div id="profile-map-container">
                                <div id="profile-map" data-lat="<%=warehouse.geo.lat%>" data-lng="<%=warehouse.geo.lng%>"></div>
                            </div>
                        </div>
                    </div>
                </div>
             <%}%>
			<div class="main">
				<div class="content-box primary">
					<div class="header">
						<h2>Pricing and availability</h2>
					</div>
                    <div class="warehouse-pricing main">
                        <script type="text/template" id="warehouse-pricing-row">
                            <tr>
                                    <td class="week-commencing" data-bind-data-week-commencing="wcDate" >@wcDate@</td>
                                    <td class="bar-container" >
                                        <div data-bind-data-pallets-required="palletsRequired" class="useage-marker"></div>
                                        <div data-bind-class="cssClass"  data-bind-data-value="numPalletsStored">
                                        @barText@</div>
                                    </td>
                                    <td><input data-bind-data-start-date="wcDate" type="text" data-bind-value="palletsRequired" /></td>
                                    <td>@price@</td>
                                    <td>@charge@</td>
                            </tr>
                        </script>
                        <div class="pricing-container">
                            <table data-max-pallets="<%= Math.round(session.whSC.sc[0].totalPallets * 1.5)  %>">
                                <thead>
                                    <tr>
                                        <th>Week Commencing</th>
                                        <th>Pallet Space</th>
                                        <th>Your Estimated Requirements</th>
                                        <th>Price per Pallet per Week</th>
                                        <th>In and Out Price per Pallet</th>
                                    </tr>                                
                                    <tr>
                                    <td colspan="5"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% 
                                    var runningTotal = 0;
                                    var useageProfile = warehouse.useageProfile;
                                    for (var wcDate in warehouse.storageProfile)
                                    { 
                                        var storageProfile = warehouse.storageProfile[wcDate]%>
                                    <tr class="animated">
                                        <td class="week-commencing" data-week-commencing="<%= wcDate %>" ><%= wcDate %></td>
                                        <td class="bar-container" >
                                            <div data-pallets-required="<%=useageProfile[wcDate] %>" class="useage-marker"></div>
                                            <div class="bar <%= storageProfile.numPalletsLeft == 0 ? "full" : "not-full" %>" data-value="<%= storageProfile.numPalletsStored%>">
                                            <%= storageProfile.numPalletsLeft == 0 ? "OK" : storageProfile.numPalletsStored %></div>
                                        </td>
                                        <td><input data-start-date="<%= wcDate %>" type="text" value="<%=useageProfile[wcDate]%>" /></td>
                                        <td><%=storageProfile.highestPriceOfAnyStorageUsed.price %></td>
                                        <td><%=storageProfile.highestPriceOfAnyStorageUsed.charge %></td>
                                    </tr>
                                    <%
                                    runningTotal += storageProfile.totalPrice;
                                    } //end for
                                    %>
                                </tbody>
                            </table>
                        </div>
                        <div id="estimated-total-cost">
                            <span class="label">Estimated Total Cost</span>
                            <span class="price"><%= runningTotal.toFixed(2) %></span><br/>
                            <a id="choose-this-warehouse" class="button action forward">choose this warehouse</a>
                        </div>
                        <div class="data">
                            <h3>storage profile</h3>
                            <%=JSON.stringify(warehouse.storageProfile)%>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<section>
			<div class="row main">
				<div class="content-box columns six ">
					<div class="header">
						<h2>About the warehouse</h2>
					</div>
					<div class="main">
                        <div class="carousel">
                            <img src="/images/whouse1.jpg" class="placeholder" alt="placeholder" />
                            <ul class="thumbnails">
                            <% for (var i = 0; i < warehouse.photos.length; i++) { %>
                                <li><img src="/images/<%= warehouse.photos[i] %>" alt="an image of the warehouse"/></li>
                            <%}%>
                                <li><img src="/images/whouse1.jpg" alt="a warehouse"  /></li>
                                <li><img src="/images/whouse2.jpg" alt="a warehouse"  /></li>
                                <li><img src="/images/whouse3.jpg" alt="a warehouse"  /></li>
                                <li><img src="/images/whouse4.jpg" alt="a warehouse"  /></li>
                            </ul>
                        </div>
						<p><%=warehouse.description%></p>
                        
					</div>
				</div>
				<div class="content-box columns six warehouse-features">
					<div class="header">
						<h2>Warehouse features</h2>
					</div>
					<div class="main row">
                        <div class="columns six">
                            <h4>Services</h4>
    						<ul>
    							<% for( var i= 0; i<warehouse.services.length;i++ ){%>
    								<li><%=warehouse.services[i]%></li>
    							<%}%>
    						</ul>
                        </div>
                        <div class="columns six">
                            <h4>Specifications</h4>
    						<ul>
    							<% for( var i= 0; i<warehouse.specifications.length;i++ ){%>
    								<li><%=warehouse.specifications[i]%></li>
    							<%}%>
    						</ul>
                        </div>
					</div>
				</div>
			</div>
			<div class="continue-links footer form-footer">
				<div class="container">
				<a href="/search" class="back button action">Back to search results</a>
<p class="doc-buttons">
                            <button class="simple">View Documents</button>
                            <button class="simple">View Photos</button>
                        </p>
				</div>
			</div>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
