 <% include ./partials/top%>   
	<main class="warehouse-profile">
		<div class="banner">
			<h1>
				<span><%=warehouse.name%></span> profile
			</h1>
		</div>
		<section>
			<div class="main">
				<div class="content-box primary">
					<div class="header">
						<h2>Pricing and availability</h2>
					</div>
					<div class="main warehouse-pricing">
						<table class="max">
							<thead>
								<tr>
									<th>Storage Name</th>
									<th>Max Weight (kg)</th>
									<th>Max Height (m)</th>
                                    <th>Pallets Available</th>
									<th>Price/Availability</th>
								</tr>
							</thead>
							<tbody>
								<% for( var i= 0; i<warehouse.storage.length;i++ ){
									var storage = warehouse.storage[i];
									%>
									<tr <%if (session.whSC != undefined){
											if (storage.maxWeight >= session.whSC.sc[0].weight && session.whSC.sc[0].palletType == storage.palletType
											&& session.whSC.sc[0].temp == storage.temp && storage.maxHeight >= session.whSC.sc[0].height){%>
												class="storage-matched"
											<%}%>
										<%}%>>
										<td><%=storage.name%></td>
										<td><%=storage.maxWeight%></td>
										<td>
											<%if( storage.maxHeight ){%>
												<%=storage.maxHeight%>
											<%}else{%>
												N/A
											<%}%>
										</td>
                                        <td>
                                            <%= storage.palletSpaces %>
                                        </td>
										<td class="button-cell"><button data-id="<%=storage._id %>" data-template="pricing-and-availability" type="button" class="secondary popup mini">click here</button></td>
									</tr>
                                    <% if (session.whSC != undefined) { %>
                                    <tr style="display:none" class="pricing-and-availability-<%=storage._id %>">
                                        <td colspan="5">
                                            <div class="pricing-and-availability-row row">
                                                <div class="columns six pricing box">                                                    
                                                    <div class="header">
                                                        <h2>Pricing</h2>
                                                    </div>
                                                    <div class="main">
                                                        <table class="pricing-table"><tbody>
                                                            <tr>
                                                            <td colspan="2">Prices per pallet</td>
                                                            </tr>
                                                            <tr>
                                                            <td class="date">01/06/2011 - 01/06/2011</td>
                                                            <td class="price">£1.50</td>
                                                            </tr>
                                                            <tr>
                                                            <td>01/06/2012 - 01/06/2011</td>
                                                            <td class="price">£2.50</td>
                                                            </tr>
                                                        </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="columns six availability box">
                                                    <div class="header">
                                                        <h2>Availability</h2>
                                                    </div>
                                                    <% 
                                                    var totalPallets = parseInt(session.whSC.sc[0].totalPallets,10);
                                                    var maxAvailability = Math.ceil(totalPallets / 50)*50 ;
                                                    var thisAvailability = storage.palletSpaces;
                                                    var startDate = new Date(session.whSC.sc[0].startDate);
                                                    var endDate = new Date();
                                                    endDate.setDate(startDate.getDate() + 365);
                                                    %>
                                                    <div class="main">
                                                        <div class="availability-marker"><span class="number"><%=session.whSC.sc[0].totalPallets;%>
                                                        </span><div></div></div>
                                                        <table class="availability-table" data-max-availability="<%= maxAvailability %>" ><tbody>
                                                            <tr>
                                                            <td colspan="2">Availability for this storage space</td>
                                                            </tr>
                                                        <% 
                                                        var lastEndDate = new Date(0); //end date of the previous record.
                                                        var lim = storage.pallets.length;
                                                        for (var i = 0; i< lim;i++)
                                                        {
                                                            var thisAvailability = storage.pallets[i];
                                                            if (lastEndDate < thisAvailability.startDate){
                                                                //we need to add an interveening row to cover the time inbetween.
                                                                var newRowStartDate = lastEndDate;
                                                                var newRowEndDate = new Date()
                                                                if (i+1 < lim) {//there are still rows so use the start date of the next as our end date
                                                                    newRowEndDate = storage.pallets[i+1].startDate;
                                                                } else { //use the end date of the search.
                                                                    newRowEndDate.setDate(endDate.getDate());
                                                                    newRowFree = storage.palletSpaces;
                                                                }
                                                                //insert our new row
                                                                %>
                                                                <tr>
                                                                    <td class="date"><%=newRowStartDate.getDate() + "/" + newRowStartDate.getMonth()%> - <%=newRowEndDate%></td>
                                                                    <td class="bar">
                                                                    <div data-value="<%=newRowFree%>" class="bar <%=newRowFree > totalPallets ? "full" : "not-full" %>">
                                                                    <%=newRowFree > totalPallets ? "OK" : newRowFree %></div>
                                                                    </td>
                                                                </tr>
                                                            <%
                                                            }
                                                            lastEndDate = new Date(thisAvailability.to.valueOf());
                                                            lastEndDate.setDate(lastEndDate.getDate() + 1);
                                                        %>
                                                            <tr>
                                                            <td class="date"><%=thisAvailability.from.getDate() + "/"  + parseInt(thisAvailability.from.getMonth(),10)+ "/" + thisAvailability.from.getFullYear() %> - <%=thisAvailability.to.getDate() + "/" + parseInt(thisAvailability.to.getMonth(),10) + "/" + thisAvailability.to.getFullYear() %></td>
                                                            <td class="bar"><div data-value="<%=thisAvailability.free%>" class="bar <%= thisAvailability.free > totalPallets ? "full" :  "not-full" %>"><%= thisAvailability.free > totalPallets ? "OK" : thisAvailability.free%></div></td>
                                                            </tr>
                                                        <% } %>
                                                        </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}%>
								<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="row main">
				<div class="content-box columns six ">
					<div class="header">
						<h2>About the warehouse</h2>
					</div>
					<div class="main">
                        <div class="carousel">
                            <ul>
                            <% for (var i = 0; i < warehouse.photos.length; i++) { %>
                                <li><img src="<%= warehouse.photos[i] %>" alt="an image of the warehouse"/></li>
                            <%}%>
                            </ul>
                        </div>
						<p><%=warehouse.description%></p>
					</div>
				</div>
				<div class="content-box columns six">
					<div class="header">
						<h2>Warehouse features</h2>
					</div>
					<div class="main">
						<ul>
							<% for( var i= 0; i<warehouse.specifications.length;i++ ){%>
								<li><%=warehouse.specifications[i]%></li>
							<%}%>
						</ul>
					</div>
				</div>
			</div>
			<div class="continue-links footer form-footer">
				<div class="container">
				<a href="/search" class="back button">Back</a>
					<%var href = url;
						var queryString = '?fromSearch=true';
						if (href.indexOf(queryString) != -1){%>	
							<a href="#" class="button action large next">Select this warehouse</a>
					<%}%>
				</div>
			</div>
		</section>
	</main>
    
 <% include ./partials/bottom%>
 
