 <% include ./partials/top%>  
	<main class="warehouse-profile">
		<div class="banner">
			<h1>
				<span><%=warehouse.name%></span> profile
			</h1>
		</div>
        <section>
        <%if (session.whSC != undefined && session.whSC.sc){%>
                <div class="search-header">
                    <div class="row">
                        <div class="columns three back-to-search">
                            <a href="/search" class="button action">Back to search results</a>
                        </div>
                        <div class="search-criteria columns three">
                            <span class="button-text">MY SEARCH CRITERIA</span>
                            <button class="view primary tiny"></button>
                            <div class="my-search-criteria">
                                <div class="critera-popup">
                                    <ul>
                                        <li>
                                           <span class="title">Pallet type</span>
                                           <%if(session.whSC.sc[0].palletType){%>
                                                <span class="search-value"><%=session.whSC.sc[0].palletType%></span>
                                           <%}else{%>
                                               <span class="search-value">Any</span>
                                           <%}%>
                                        </li>
                                        <li>
                                            <span class="title">Quantity</span>
                                            <span class="search-value"><%=session.whSC.sc[0].totalPallets%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Target postcode</span>
                                            <span class="search-value"><%=session.whSC.sc[0].postcode%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Max distance</span>
                                            <span class="search-value"><%=session.whSC.sc[0].maxDistance%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Product description</span>
                                            <span class="search-value"><%=session.whSC.sc[0].description%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Start date</span>
                                            <span class="search-value"><%=session.whSC.sc[0].startDate.substring(8,10)%>/<%=session.whSC.sc[0].startDate.substring(5,7)%>/<%=session.whSC.sc[0].startDate.substring(0,4)%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Min Duration</span>
                                            <span><%=minDurationOptions[parseInt(session.whSC.sc[0].minDuration,10)]%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Height (m)</span>
                                            <span class="search-value"><%=session.whSC.sc[0].height%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Weight (kg)</span>
                                            <span class="search-value"><%=session.whSC.sc[0].weight%></span> 
                                        </li>
                                        <li>
                                            <span class="title">Type</span>
                                            <span class="search-value"><%=temperatures[session.whSC.sc[0].temp]%></span> 
                                        </li>
                                    </ul>
                                    <div class="edit-search">
                                        <a href="/search#search-area" class="button action">Edit search criteria</a>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="see-on-map columns three">
                            <span class="button-text">VIEW LOCATION ON A MAP</span>
                            <button class="map primary tiny"></button>
                            <div id="profile-map-container">
                                <div id="profile-map" data-lat="<%=warehouse.geo.lat%>" data-lng="<%=warehouse.geo.lng%>"></div>
                            </div>
                        </div>
                    </div>
                </div>
             <%}%>
			<div class="row main">
            <div class="columns six">
				<div class="content-box">
					<div class="header">
						<h2>About the warehouse</h2>
					</div>
					<div class="main">
                        <div class="carousel">
                            <img src="/images/warehouse-images/<%= warehouse.defaultPhoto || warehouse.photos && warehouse.photos[0] || 'not-found.jpg' %>" class="placeholder" alt="placeholder" />
                            <ul class="thumbnails">
                            <% for (var i = 0; i < warehouse.photos.length; i++) { %>
                                <li><img src="/images/warehouse-images/<%= warehouse.photos[i] %>" alt="an image of the warehouse"/></li>
                            <%}%>
                                <!--<li><img src="/images/whouse1.jpg" alt="a warehouse"  /></li>
                                <li><img src="/images/whouse2.jpg" alt="a warehouse"  /></li>
                                <li><img src="/images/whouse3.jpg" alt="a warehouse"  /></li>
                                <li><img src="/images/whouse4.jpg" alt="a warehouse"  /></li>-->
                            </ul>
                        </div>
						<p><%=warehouse.description%></p>
                        
					</div>
				</div>
            </div>
            <div class="columns six">
				<div class="content-box warehouse-features">
					<div class="header">
						<h2>Services,Features and Rating</h2>
					</div>
                    <div class="main row">
                      <div class="row">
                            <div class="columns four">
                                <h4>Services</h4>
                                <ul>
                                    <% for( var i= 0; i<warehouse.services.length;i++ ){%>
                                        <li><%=warehouse.services[i]%></li>
                                    <%}%>
                                    <% for( var i= 0; i<warehouse.specifications.length;i++ ){%>
                                        <li><%=warehouse.specifications[i]%></li>
                                    <%}%>
                                </ul>
                            </div>
                            <div class="columns four">
                                <h4>Features</h4>
                                <p>Size: <%= warehouse.size %>m<sup>2</sup>  <br/>
                            Height: <%= warehouse.height %>m</p>
                                <div class="temperatures">

                                    <% for (var i =0;i<warehouse.storageTemps.length; i++) { %>
                                        <span class="icon-box temp-<%= warehouse.storageTemps[i]%> "></span>    
                                    <% } %>
                                </div>
                            </div>
                            <div class="columns four">
                                <h4>Rating</h4>
                                <div class="ratings js-rating">
                                    <%if (typeof warehouse.rating !== 'undefined'){
                                        var j = 0;
                                        do{%>
                                            <span class="ion-android-star rating"><em class="sr-only">*</em></span>
                                            <%j++;
                                        }
                                        while(j<warehouse.ratingrating)
                                    }else{
                                        %><span>Not Yet Rated</span><%
                                    }%>
                                </div>
                            </div>
                       </div>
					</div>
				</div>
                <%if(warehouse.documents){%>
                    <div class="content-box warehouse-documents">
                        <div class="header">
                            <h2>Warehouse Documents</h2>
                            
                        </div>
                        <div class="main">
                        <ul>
                            <% for( var i= 0; i<warehouse.documents.length;i++ ){%>
                                        <li><a target="__blank" href="<%= warehouse.documents[i].path %>"><%=warehouse.documents[i].title%></a></li>
                            <%}%>
                            </ul>
                        </div>
                    </div>
                <%}%>
            </div>
			</div>
			
		</section>
		<section>
            <input type="hidden" name="warehouse-id" id="warehouse-id" value="<%=warehouse._id%>" />
            
			<div class="main">
				<div class="content-box primary">
					<div class="header">
						<h2>Pricing and availability</h2>
					</div>
                    <div class="warehouse-pricing main">
		      <% var quoteView = false; %>

                        <% include ./partials/warehouse-pricing %>
                        <p class="terms" id="vat-message">*All prices excluding VAT charged at the applicable rate</p>
                        <div class="choose-warehouse-button-container">
                            <a id="choose-this-warehouse" href="/quotation-request/<%= warehouse._id %>" class="button  action forward">choose this
                        warehouse</a>
                            <span>Your estimated requirements do not fit in this warehouse, either adjust the requirements or view another warehouse.</span>
                        </div>
                    </div>
       
				</div>
			</div>
            <div class="continue-links footer form-footer">
				<div class="container">
				<a href="/search" class="back button action">Back to search results</a> <a href="/search#search-area" class="back button action back-to-search-criteria">Edit search criteria</a>
<p class="doc-buttons">
                        </p>
				</div>
			</div>
		</section>
		
	</main>
    
 <% include ./partials/bottom%>
 
