<%
	var numberSuffix = ["st","nd","rd"];
%>
<div data-contact-type="warehouse-specific-contacts" data-content="goods-in" class="hidden tab main">
	<form data-loom-do-not-show-success-css="true" id="goods-in" autocomplete="off" data-form-type="contacts-form" class="loom-form data-loom-no-submit="true" novalidate="novalidate">
		<table class="simple dashboard-table" data-max-rows="2">
			<thead>
				<th>No.</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone Number (Optional)</th>
				<th>Status</th>
				<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><th><img src="/images/delete.png"></th><%}%>
				<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><th></th><%}%>
			</thead>
			<tbody>
				<%if(warehouse.contacts){%>
					<%if (warehouse.contacts.goodsIn.length > 0){
						warehouse.contacts.goodsIn.sort(function(x,y) { return x.sortOrder > y.sortOrder });%>
						<%for(var i = 0; i<warehouse.contacts.goodsIn.length; i++){%>
							<tr data-empty="false" data-id="<%=warehouse.contacts.goodsIn[i].user._id.toString()%>">
								<td><%=i+1%><span><%=numberSuffix[i]%></span>*</td>
								<td data-field="name"><%=warehouse.contacts.goodsIn[i].user.name || 'N/A'%></td>
								<td data-field="email"><%=warehouse.contacts.goodsIn[i].user.email%></td>
								<td data-field="phone-number"><%=warehouse.contacts.goodsIn[i].user.phoneNumber || 'N/A'%></td>
								<td data-field="register-status">
									<%switch(true){
										case (warehouse.contacts.goodsIn[i].user.expiry >= Date.now() && warehouse.contacts.goodsIn[i].user.expiry !== null):%>
											<p class="registered-status pending"><%=registerStatus[1]%></p>
											<%break;
										case (warehouse.contacts.goodsIn[i].user.expiry < Date.now() && warehouse.contacts.goodsIn[i].user.expiry !== null):%>
											<p class="registered-status expired"><%=registerStatus[2]%></p>
											<%break;
										case null:%>
											<p class="registered-status complete"><%=registerStatus[0]%></p>
											<%break;
										default:%>
											<p class="registered-status complete"><%=registerStatus[0]%></p>
									<%}%>
								</td>
								<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><td data-field="delete"><%if(warehouse.contacts.goodsIn[i].user._id != user.id && authorisations.contacts.warehouseContacts.edit===true){%><input type="checkbox" name="delete"/><%}%></td><%}%>
								<%if(authorisations.contacts.warehouseContacts.edit===true && page !== 'contact-setup-walkthrough'){%><td data-field="resend-email"><%if(warehouse.contacts.goodsIn[i].user.expiry < Date.now() && warehouse.contacts.goodsIn[i].user.expiry !== null){%> <button name="resend-email" class="button action mini" data-disabled-on-ajax="true">Resend</button><%}%></td><%}%>
							</tr>
						<%}%>
					<%}else{%>
						<% include ../empty-warehouse-contacts-rows%>
					<%}%>
				<%}%>
			</tbody>
		</table>
		<%if(authorisations.contacts.warehouseContacts.edit===true){%>
			<div class="columns twelve button-container <%if(warehouse.contacts.goodsIn.length === 2){%>hidden<%}%>">
				<button data-disabled-on-ajax="true"data-disabled-on-ajax="true" type="button" name="save-new-contacts" class="button action">Save</button>
				<button data-disabled-on-ajax="true" data-disabled-on-ajax="true" type="button" name="delete" class="button action hidden">Delete</button>
			</div>
		<%}%>
	</form>
</div>