<%	var fromRequest;

	if (page !== undefined && page === 'search'){
		fromRequest = false;
		warehouseName = city = postcode = size = height = href = mainPhoto = temp = miles = "";
	}else{
		fromRequest = true;
		var temp = "";
		warehouseName = warehouse.name;
		city = warehouse.city;
		postcode = warehouse.postcode.split(" ")[0];
		size = warehouse.size;
		height = warehouse.height;
		href = "/warehouse-profile/" + warehouse._id + "?fromSearch=true";
		mainPhoto = warehouse.defaultPhoto || warehouse.photos[0] || "not-found.jpg";
		for (var i in warehouse.storageTemps) {
			temp = temp + "<span class='icon-box temp-" + warehouse.storageTemps[i] +  "'></span>"
		}
		var milePluralOrSingle = warehouse.distanceFromSearch == "1" || warehouse.distanceFromSearch == 1 ? " mile" : " miles" ;
		miles = "<span class='miles'>" + warehouse.distanceFromSearch + "</span>" + milePluralOrSingle + " from search";
		rating = warehouse.rating;
	}
%>
<div class="search-result-info-box fixed" id="search-results-info" style="display:none">
	<div class="inner-box">
		<h4><em class="js-name"><%= warehouseName %></em><span class="selected ion-checkmark js-is-on-quote"></span>
		</h4>
		<p><span class="address js-address"><%= city + ', ' + postcode %></span><span class="distance"><%- miles %></span></p>
		
		<div class="inner-inner-box">
			<img class="js-image" src="<%= '/images/warehouse-images/' + mainPhoto %>" alt="an external view of a warehouse " />
			<div class="info">
				<%if (page !== undefined && page === 'search'){%>
					<a class="button mini action view-details <%= user.email ? "" : "register-before-click " %>view-warehouse-link" href="<%= href %>">View details</a>
				<%}%>
				<!--<div class="ratings js-rating">
					<%if (typeof rating !== 'undefined'){
						var j = 0;
						do{%>
							<span class="ion-android-star rating"><em class="sr-only">*</em></span>
							<%j++;
						}
						while(j<rating)
					}else{
						%><span>Not Yet Rated</span><%
					}%>
				</div>-->
				<div class="temperatures js-temperatures">
					<!--<span class="ion-thermometer cold icon-box"></span>
					<span class="ion-thermometer hot icon-box"></span>
					<span class="ion-ios-snowy cold icon-box"></span>
					<span class="ion-wineglass icon-box"></span>-->
					<%- temp %>
				</div>
			</div>
		</div>
		<p>Size: <span class="js-size"><%= size %></span>m<sup>2</sup><br/>
		Height: <span class="js-height"><%= height %></span>m</p>
		<div class="controls">
			<button class="simple prev mini" id="map-prev-result">PREV</button>
			<button class="simple next mini" id="map-next-result">NEXT</button>
		</div>
	</div>
</div>