<% include ./partials/header %> 
	<p>An email has been sent by <%=name%> from company <%=company-name%>. They have left left the telephone number <%=telephone%>
	Do they want a callback? <%=request-callback%></p>
	
	<p>The message is as follows:</p><br/>
	<%=message%>
<% include ./partials/footer %> 