<% 
title = "Contact Assignment";
subtitle = "Complete your registration"; 
%>
<% include ./partials/header %> 
	<p>Dear <%=name%></p>
	<p><%=masterContact%> has registered <%=company%> on zupplychain.com. Zupplychain.com is an on-line marketplace to sell warehouse storage by the pallet space to potential customers.</p>
	<p><%=referer%> has nominated you to be <%=roleNumber%> <%=role%>.</p>
	<%-content%>
	<p>Please follow this <a href="<%=link%>">link</a> to set up your personal Zupplychain account and password.</p>
	<p>Thank you and welcome to Zupplychain!</p>
<% include ./partials/footer %> 