<% 
title = "Contact Assignment";
subtitle = "Complete your registration"; 
%>
<% include ./partials/header %> 
	<p><%=referer%> has assigned you to the role of <%=role%> for company <%=company%><%if(warehouse != ""){%>, within the warehouse <%=warehouse%><%}%>.</p>
	<p>To complete the registration process please click <a href="<%=link%>">here</a>.</p>
	<p>The link will expire in 14 days at which point the referer will need to re-send the link.</p>
<% include ./partials/footer %> 