<% 
title = "CONTRACT CONFIRMATION";
subtitle = "Please review the details below"; 
%>
<% include ./partials/header %> 
<table width="100%" style="text-align:left;margin-bottom:20px;font-size:14px;">
    <tr>
        <td colspan width="50%">Date: <% var x = new Date();%><%= utils.printFormatDate(x);%></td>
        <td width="50%" style="text-align:right;">Order Ref: 2208-1550</td>
    </tr>
</table>
<table width="100%" style="font-size:14px;text-align:left;vertical-align:top;margin-bottom:20px;color:#555;line-height:1.4em;border:2px solid #ccc;border-radius:5px;" cellpadding="8" cellspacing="0">
    <tr>
        <th style="border-right:2px solid #ccc;">Warehouse</th>
        <th>Customer</th>
    </tr>
    <tr>
        <td style="vertical-align:top;border-right:2px solid #ccc;" >
            <%= quote.warehouse.name%><br/>
            <%= quote.warehouse.addressline1%> <%= quote.warehouse.addressline2 %><br/>
            <%= quote.warehouse.city %><br/>
            <%= quote.warehouse.county %><br/>
            <%= quote.warehouse.postcode %>
        </td>
        <td style="vertical-align:top" >
            <%= quote.userData.companyName %><br/>
            <%= quote.userData.name %><br/>
            <%= quote.userData.email %>
        </td>
    </tr>
</table>
<table width="100%" style="font-size:14px;text-align:left;border:2px solid #ccc;border-radius:5px;color:#555;margin-bottom:20px;line-height:1.4em;" cellspacing="0" cellpadding="8" >
    <tr style="font-weight:bold;">
        <th style="border-bottom:2px solid #ccc;">Start Date</th>
        <th style="border-bottom:2px solid #ccc;">Duration</th>
        <th style="border-bottom:2px solid #ccc;">Qty</th>
        <th style="border-bottom:2px solid #ccc;">Description</th>
    </tr>
    <tr>
        <td style="border-bottom:2px solid #ccc;color:#888;"><%= new Date(quote.search.startDate).toISOString().substr(0,10) %></td>
        <td style="border-bottom:2px solid #ccc;color:#888;"><%= config.minDurationOptions[quote.search.minDuration] %></td>
        <td style="border-bottom:2px solid #ccc;color:#888;"><%= quote.search.totalPallets %></td>
        <td style="border-bottom:2px solid #ccc;color:#888;">test</td>
    </tr>
    <tr style="font-weight:bold">
        <td style="border-bottom:2px solid #ccc;">Pallet Type</td>
        <td style="border-bottom:2px solid #ccc;">Height(m)</td>
        <td style="border-bottom:2px solid #ccc;">Weight(kg)</td>
        <td style="border-bottom:2px solid #ccc;">Temp</td>
    </tr>
        <tr>
        <td style="color:#888;"><%= config.palletTypes[quote.search.palletType] %></td>
        <td style="color:#888;"><%= quote.search.height%></td>
        <td style="color:#888;"><%= quote.search.weight %></td>
        <td style="color:#888;"><%= config.temperatures[quote.search.temp] %></td>
    </tr>
</table>
<table width="100%" style="font-size:14px;text-align:left;border:2px solid #ccc;border-radius:5px;color:#888;margin-bottom:13px;" cellspacing="0" cellpadding="8" >
    <tr>
        <th style="border-bottom:2px solid #ccc;color:#555;">Week Commencing</th>
        <th style="border-bottom:2px solid #ccc;color:#555;">Requirements</th>
        <th style="border-bottom:2px solid #ccc;color:#555;">Price Per Pallet</th>
        <th style="border-bottom:2px solid #ccc;color:#555;">Handling Charge</th>
    </tr>
    <%
    var runningTotal = 0;
    var sortedKeys = [];
    for (var key in quote.storageProfile) {
        sortedKeys.push(key);
    }
    sortedKeys.sort();
    for (var i = 0; i<sortedKeys.length; i++) { 
    var wc = sortedKeys[i]; 
    var sp = quote.storageProfile[wc];
    runningTotal += sp.totalPrice;
    
    %>
    <tr>
        <td style="border-bottom:2px solid #ccc;"><%= utils.printFormatDate(new Date(wc)) %></td>
        <td style="border-bottom:2px solid #ccc;text-align:right;"><%= sp.numPallets %></td>
        <td style="border-bottom:2px solid #ccc;text-align:right;">&pound;<%= sp.highestPriceOfAnyStorageUsed.price.toFixed(2) %></td>
        <td style="border-bottom:2px solid #ccc;text-align:right;">&pound;<%= sp.highestPriceOfAnyStorageUsed.charge.toFixed(2) %></td>
    </tr>
    <% } %>
    <tr>
        <td colspan="3" style="text-align:right;color:#555;font-weight:bold;">
            Estimated Total Price
        </td>
        <td style="color:#555;font-weight:bold;text-align:right;">
            &pound;<%= runningTotal.toFixed(2); %>
        </td>
    </tr>
</table>
 <p class="term" id="vat-message" style="font-size:smaller;margin-top:0;float:left;">*All prices excluding VAT charged at the applicable rate</p>
<table width="100%" style="font-size:14px;border:2px solid #ccc;border-radius:5px;text-align:left;color:#555;" cellspacing="0" cellpadding="15">
    <tr>
        <td style="font-weight:bold;">Payment Terms</td>
        <td>Payment must reach us at least 2 weeks before goods are put into storage</td>
    </tr>
    <tr>
        <td style="font-weight:bold;"> Payment Methods</td>
        <td>
            <ul style="padding-left:15px;">
            <li>Credit Card</li>
            <li>Debit or bank transfer</li>
            </ul>
        </td>
        <td>Add contact details of both parties</td>
    </tr>
</table>
<button class="button action" onClick="window.print()">PRINT</button>
<% include ./partials/footer %>